.Z-grab-bg {
  float: right;
  position: relative;
}
.articlePart {
  margin-top: 10px;
}
.Z-grab-title {
  margin-left: 23px;
  padding-top: 5px;
}
.Z-grab-Media {
  width: 1050px;
  height: 242px;
  background-color: #fff;
  padding-top: 15px;
}
.Z-grab-mList li {
  width: 140px;
  float: left;
  margin: 10px 10px;
  margin-left: 23px;
}
.Z-grab-mList li o {
  color: #fc6b6b;
}
.Z-grab-NewsPart {
  width: 1010px;
  background-color: #fff;
  padding: 20px;
}
.Z-grab-NewsPart .Z-grab-add {
  width: 100px;
  height: 60px;
  margin-left: 15px;
}
.Z-grab-NewsPart .Z-grab-NewsList {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
.Z-grab-NewsPart .Z-grab-NewsList li {
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  height: 28px;
  line-height: 28px;
  border-bottom: 1px dashed rgba(100, 100, 100, 0.3);
}
.Z-grab-NewsPart .Z-grab-NewsList li a:hover {
  color: #fc6b6b;
}
.Z-grab-NewsPart .Z-grab-NewsList li span {
  float: right;
}
.Z-grab-keyWord span {
  padding: 10px 5px;
}
.Z-grab-keyWord span:hover {
  color: #fc6b6b;
  cursor: pointer;
}
.alert {
  color: red !important;
  border: 1px solid red !important;
}
.hidden {
  visibility: hidden;
}
