/*清除原有样式*/
*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*清除移动端点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}
body {
  width: 100%;
  margin: 0 auto;
  font: 200 14px/1 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
  background-color: transparent;
}
img {
  border: 0;
  vertical-align: middle;
}
input[type="text"],
input[type="search"],
input[type="tel"],
textarea {
  border: none;
  outline: none;
  resize: none;
  /*清除移动端默认的阴影效果*/
  -webkit-appearance: none;
  /*设置表单元素不自带浏览器默认样式*/
}
/*公用*/
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.title {
  padding: 85px 0 0 0;
  font-weight: 100;
}
.title .abstract {
  font-size: 40px;
  color: #404040;
  line-height: 56px;
}
.title .circle {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #E3E3E3;
  margin: 12px 20px;
}
.title h4 {
  font-size: 16px;
  color: #B3B3B3;
  line-height: 22px;
}
.iw_poi_title {
  color: #CC5522;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding-right: 13px;
  white-space: nowrap;
}
.iw_poi_content {
  font: 12px arial, sans-serif;
  overflow: visible;
  padding-top: 4px;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}
.navColor {
  background-color: #112032 !important;
}
.display {
  display: none !important;
}
.opacity {
  visibility: hidden !important;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}
