.mt-5 {
    margin-top: -5px;
}
.ml-5 {
    margin-left: -5px;
}
.mr-5 {
    margin-right: -5px;
}
.mb-5 {
    margin-bottom: -5px;
}
.mg-5 {
    margin: -5px;
}
.mt0 {
    margin-top: 0px;
}
.ml0 {
    margin-left: 0px;
}
.mr0 {
    margin-right: 0px;
}
.mb0 {
    margin-bottom: 0px;
}
.mg0 {
    margin: 0px;
}
.mt5 {
    margin-top: 5px;
}
.ml5 {
    margin-left: 5px;
}
.mr5 {
    margin-right: 5px;
}
.mb5 {
    margin-bottom: 5px;
}
.mg5 {
    margin: 5px;
}
.mt10 {
    margin-top: 10px;
}
.ml10 {
    margin-left: 10px;
}
.mr10 {
    margin-right: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.mg10 {
    margin: 10px;
}
.mt15 {
    margin-top: 15px;
}
.ml15 {
    margin-left: 15px;
}
.mr15 {
    margin-right: 15px;
}
.mb15 {
    margin-bottom: 15px;
}
.mg15 {
    margin: 15px;
}
.mt20 {
    margin-top: 20px;
}
.ml20 {
    margin-left: 20px;
}
.mr20 {
    margin-right: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.mg20 {
    margin: 20px;
}
.mt25 {
    margin-top: 25px;
}
.ml25 {
    margin-left: 25px;
}
.mr25 {
    margin-right: 25px;
}
.mb25 {
    margin-bottom: 25px;
}
.mg25 {
    margin: 25px;
}
.mt30 {
    margin-top: 30px;
}
.ml30 {
    margin-left: 30px;
}
.mr30 {
    margin-right: 30px;
}
.mb30 {
    margin-bottom: 30px;
}
.mg30 {
    margin: 30px;
}
.mt35 {
    margin-top: 35px;
}
.ml35 {
    margin-left: 35px;
}
.mr35 {
    margin-right: 35px;
}
.mb35 {
    margin-bottom: 35px;
}
.mg35 {
    margin: 35px;
}
.mt40 {
    margin-top: 40px;
}
.ml40 {
    margin-left: 40px;
}
.mr40 {
    margin-right: 40px;
}
.mb40 {
    margin-bottom: 40px;
}
.mg40 {
    margin: 40px;
}
.mt45 {
    margin-top: 45px;
}
.ml45 {
    margin-left: 45px;
}
.mr45 {
    margin-right: 45px;
}
.mb45 {
    margin-bottom: 45px;
}
.mg45 {
    margin: 45px;
}
.mt50 {
    margin-top: 50px;
}
.ml50 {
    margin-left: 50px;
}
.mr50 {
    margin-right: 50px;
}
.mb50 {
    margin-bottom: 50px;
}
.mg50 {
    margin: 50px;
}
.pt-5 {
    padding-top: -5px;
}
.pl-5 {
    padding-left: -5px;
}
.pr-5 {
    padding-right: -5px;
}
.pb-5 {
    padding-bottom: -5px;
}
.pd-5 {
    padding: -5px;
}
.pt0 {
    padding-top: 0px;
}
.pl0 {
    padding-left: 0px;
}
.pr0 {
    padding-right: 0px;
}
.pb0 {
    padding-bottom: 0px;
}
.pd0 {
    padding: 0px;
}
.pt5 {
    padding-top: 5px;
}
.pl5 {
    padding-left: 5px;
}
.pr5 {
    padding-right: 5px;
}
.pb5 {
    padding-bottom: 5px;
}
.pd5 {
    padding: 5px;
}
.pt10 {
    padding-top: 10px;
}
.pl10 {
    padding-left: 10px;
}
.pr10 {
    padding-right: 10px;
}
.pb10 {
    padding-bottom: 10px;
}
.pd10 {
    padding: 10px;
}
.pt15 {
    padding-top: 15px;
}
.pl15 {
    padding-left: 15px;
}
.pr15 {
    padding-right: 15px;
}
.pb15 {
    padding-bottom: 15px;
}
.pd15 {
    padding: 15px;
}
.pt20 {
    padding-top: 20px;
}
.pl20 {
    padding-left: 20px;
}
.pr20 {
    padding-right: 20px;
}
.pb20 {
    padding-bottom: 20px;
}
.pd20 {
    padding: 20px;
}
.pt25 {
    padding-top: 25px;
}
.pl25 {
    padding-left: 25px;
}
.pr25 {
    padding-right: 25px;
}
.pb25 {
    padding-bottom: 25px;
}
.pd25 {
    padding: 25px;
}
.pt30 {
    padding-top: 30px;
}
.pl30 {
    padding-left: 30px;
}
.pr30 {
    padding-right: 30px;
}
.pb30 {
    padding-bottom: 30px;
}
.pd30 {
    padding: 30px;
}
.pt35 {
    padding-top: 35px;
}
.pl35 {
    padding-left: 35px;
}
.pr35 {
    padding-right: 35px;
}
.pb35 {
    padding-bottom: 35px;
}
.pd35 {
    padding: 35px;
}
.pt40 {
    padding-top: 40px;
}
.pl40 {
    padding-left: 40px;
}
.pr40 {
    padding-right: 40px;
}
.pb40 {
    padding-bottom: 40px;
}
.pd40 {
    padding: 40px;
}
.pt45 {
    padding-top: 45px;
}
.pl45 {
    padding-left: 45px;
}
.pr45 {
    padding-right: 45px;
}
.pb45 {
    padding-bottom: 45px;
}
.pd45 {
    padding: 45px;
}
.pt50 {
    padding-top: 50px;
}
.pl50 {
    padding-left: 50px;
}
.pr50 {
    padding-right: 50px;
}
.pb50 {
    padding-bottom: 50px;
}
.pd50 {
    padding: 50px;
}
.dn {
    display: none;
}
.di {
    display: inline;
}
.db {
    display: block;
}
.dib {
    display: inline-block;
}
div.dib {
    *display: inline;
    *zoom: 1;
}
.h0 {
    height: 0;
}
.h16 {
    height: 14px;
}
.h16 {
    height: 16px;
}
.h18 {
    height: 18px;
}
.h20 {
    height: 20px;
}
.h22 {
    height: 22px;
}
.h24 {
    height: 24px;
}
.h30 {
    height: 30px;
}
.w1 {
    width: 1px;
}
.w5 {
    width: 5px;
}
.w10 {
    width: 10px;
}
.w15 {
    width: 15px;
}
.w20 {
    width: 20px;
}
.w50 {
    width: 50px;
}
.w70 {
    width: 70px;
}
.w100 {
    width: 100px;
}
.w120 {
    width: 120px;
}
.w140 {
    width: 140px;
}
.w160 {
    width: 160px;
}
.w180 {
    width: 180px;
}
.w200 {
    width: 200px;
}
.w220 {
    width: 220px;
}
.w250 {
    width: 250px;
}
.w280 {
    width: 280px;
}
.w300 {
    width: 300px;
}
.w320 {
    width: 320px;
}
.w360 {
    width: 360px;
}
.w400 {
    width: 400px;
}
.w460 {
    width: 460px;
}
.w500 {
    width: 500px;
}
.w600 {
    width: 600px;
}
.w640 {
    width: 640px;
}
.w700 {
    width: 700px;
}
.pct10 {
    width: 10%;
}
.pct15 {
    width: 15%;
}
.pct20 {
    width: 20%;
}
.pct25 {
    width: 25%;
}
.pct30 {
    width: 30%;
}
.pct33 {
    width: 33.3%;
}
.pct40 {
    width: 40%;
}
.pct50 {
    width: 50%;
}
.pct60 {
    width: 60%;
}
.pct66 {
    width: 66.6%;
}
.pct70 {
    width: 70%;
}
.pct75 {
    width: 75%;
}
.pct80 {
    width: 80%;
}
.pct90 {
    width: 90%;
}
.pct100 {
    width: 100%;
}
.lh0 {
    line-height: 0;
}
.lh16 {
    line-height: 14px;
}
.lh16 {
    line-height: 16px;
}
.lh18 {
    line-height: 18px;
}
.lh20 {
    line-height: 20px;
}
.lh22 {
    line-height: 22px;
}
.lh24 {
    line-height: 24px;
}
.lh30 {
    line-height: 30px;
}
.bdc {
    border: 1px solid #ccc;
}
.blc {
    border-left: 1px solid #ccc;
}
.brc {
    border-right: 1px solid #ccc;
}
.btc {
    border-top: 1px solid #ccc;
}
.bbc {
    border-bottom: 1px solid #ccc;
}
.bdd {
    border: 1px solid #ddd;
}
.bld {
    border-left: 1px solid #ddd;
}
.brd {
    border-right: 1px solid #ddd;
}
.btd {
    border-top: 1px solid #ddd;
}
.bbd {
    border-bottom: 1px solid #ddd;
}
.bde {
    border: 1px solid #eee;
}
.ble {
    border-left: 1px solid #eee;
}
.bre {
    border-right: 1px solid #eee;
}
.bte {
    border-top: 1px solid #eee;
}
.bbe {
    border-bottom: 1px solid #eee;
}
.bgwh {
    background-color: #fff;
}
.bgfb {
    background-color: #fbfbfb;
}
.bgf5 {
    background-color: #f5f5f5;
}
.bgf0 {
    background-color: #f0f0f0;
}
.bgeb {
    background-color: #ebebeb;
}
.bge0 {
    background-color: #e0e0e0;
}
.co0 {
    color: #000;
}
.co3 {
    color: #333;
}
.co6 {
    color: #666;
}
.co9 {
    color: #999;
}
.coc {
    color: #ccc;
}
.coh {
    color: white;
}
.ft0 {
    font-size: 0px;
}
.ft1 {
    font-size: 1px;
}
.fa {
    font-family: Arial;
}
.ft {
    font-family: Tahoma;
}
.fv {
    font-family: Verdana;
}
.fs {
    font-family: Simsun;
}
.fl {
    font-family: 'Lucida Console';
}
.fw {
    font-family: 'Microsoft Yahei';
}
.n {
    font-weight: normal;
    font-style: normal;
    white-space: normal;
}
.b {
    font-weight: bold;
}
.i {
    font-style: italic;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.tl {
    text-align: left;
}
.tj {
    text-align: justify;
}
.tdl {
    text-decoration: underline;
}
.tdn,
.tdn:hover,
.tdn a:hover,
a.tdl:hover {
    text-decoration: none;
}
.lt-1 {
    letter-spacing: -1px;
}
.lt0 {
    letter-spacing: 0;
}
.lt1 {
    letter-spacing: 1px;
}
.nowrap {
    white-space: nowrap;
}
.bk {
    word-wrap: break-word;
}
.vm {
    vertical-align: middle;
}
.vtb {
    vertical-align: text-bottom;
}
.vb {
    vertical-align: bottom;
}
.vt {
    vertical-align: top;
}
.v-1 {
    vertical-align: -1px;
}
.v-2 {
    vertical-align: -2px;
}
.v-3 {
    vertical-align: -3px;
}
.v-4 {
    vertical-align: -4px;
}
.v-5 {
    vertical-align: -5px;
}
.cl,
.fix {
    clear: both;
    *zoom: 1;
}
.cl:after,
.fix:after {
    display: table;
    content: '';
    clear: both;
}
.l {
    float: left;
}
.r {
    float: right;
}
.zx-1 {
    z-index: -1;
}
.mt0 {
    margin-top: 0px;
}
.ml0 {
    margin-left: 0px;
}
.mr0 {
    margin-right: 0px;
}
.mb0 {
    margin-bottom: 0px;
}
.mg0 {
    margin: 0px;
}
.mt5 {
    margin-top: 5px;
}
.ml5 {
    margin-left: 5px;
}
.mr5 {
    margin-right: 5px;
}
.mb5 {
    margin-bottom: 5px;
}
.mg5 {
    margin: 5px;
}
.mt10 {
    margin-top: 10px;
}
.ml10 {
    margin-left: 10px;
}
.mr10 {
    margin-right: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.mg10 {
    margin: 10px;
}
.mt15 {
    margin-top: 15px;
}
.ml15 {
    margin-left: 15px;
}
.mr15 {
    margin-right: 15px;
}
.mb15 {
    margin-bottom: 15px;
}
.mg15 {
    margin: 15px;
}
.mt20 {
    margin-top: 20px;
}
.ml20 {
    margin-left: 20px;
}
.mr20 {
    margin-right: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.mg20 {
    margin: 20px;
}
.mt25 {
    margin-top: 25px;
}
.ml25 {
    margin-left: 25px;
}
.mr25 {
    margin-right: 25px;
}
.mb25 {
    margin-bottom: 25px;
}
.mg25 {
    margin: 25px;
}
.mt30 {
    margin-top: 30px;
}
.ml30 {
    margin-left: 30px;
}
.mr30 {
    margin-right: 30px;
}
.mb30 {
    margin-bottom: 30px;
}
.mg30 {
    margin: 30px;
}
.mt35 {
    margin-top: 35px;
}
.ml35 {
    margin-left: 35px;
}
.mr35 {
    margin-right: 35px;
}
.mb35 {
    margin-bottom: 35px;
}
.mg35 {
    margin: 35px;
}
.mt40 {
    margin-top: 40px;
}
.ml40 {
    margin-left: 40px;
}
.mr40 {
    margin-right: 40px;
}
.mb40 {
    margin-bottom: 40px;
}
.mg40 {
    margin: 40px;
}
.mt45 {
    margin-top: 45px;
}
.ml45 {
    margin-left: 45px;
}
.mr45 {
    margin-right: 45px;
}
.mb45 {
    margin-bottom: 45px;
}
.mg45 {
    margin: 45px;
}
.mt50 {
    margin-top: 50px;
}
.ml50 {
    margin-left: 50px;
}
.mr50 {
    margin-right: 50px;
}
.mb50 {
    margin-bottom: 50px;
}
.mg50 {
    margin: 50px;
}
.cp {
    cursor: pointer;
}
.cd {
    cursor: default;
}
.vh {
    visibility: hidden;
}
.vv {
    visibility: visible;
}
.z {
    *zoom: 1;
}
.abs {
    position: absolute;
}
.rel {
    position: relative;
}
.r0 {
    right: 0;
}
.b0 {
    bottom: 0;
}
.l0 {
    left: 0;
}
.t0 {
    top: 0;
}
.ta {
    top: auto;
}
.la {
    left: auto;
}

.top10 {
    top: 10px;
}


.Z-btn{
    position: relative;
}
.Z-btn i{
    font-size: 20px;
    position: absolute;
    left: 30px;
    top: -1px;
}