@charset "utf-8";
/*公共重置样式*/
*{padding:0;margin:0;}
html,body{
	font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif, "Open Sans";
	font-weight: 200;
}
a{
	text-decoration: none;
	color: #fff;
}
li{
	list-style: none;
}

.common{
	width: 100%;
	min-width: 980px;
	min-height: 650px;
  	position: relative;
}

.loading{
	width: 100%;
	height: 800px;
	min-width: 980px;
	background: url(../images/loadingBg.png);
	background-size: 100% 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999;
}
.loadingLogo{
	width: 147px;
	height: 142px;
	margin: 180px auto 0;
	background: url(../images/loading.png) no-repeat;
	background-size: 100% 100%;
}
.currentBar{
	position: fixed;
	width: 120px;
	height: 2px;
	background-color: #000;
	margin: 0 auto;
	bottom: 100px;
	left: 46%;
}
.innerBar{
	width: 0;
	height: 100%;
	background-color: #5077f2;
}
.loading p{
	width: 120px;
	height: 17px;
	margin: 5px auto 0;
	color: #5077f2;
	font-size: 10px;
	text-align: center;
	position: fixed;
	left: 46%;
	bottom: 80px;
}

.nav{
	width: 100%;
	min-width: 980px;
	height: 89px;
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	display: flex;
	justify-content: space-between;
	z-index: 20;
}
.nav_left,.nav_right{
	box-sizing: border-box;
	width:43%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 8%;
}
.nav a{
	font-size: 16px;
	color: #fff;
}
.nav .a-wrap{
	display: inline-block;
	width: 64px;
}

.header{
  margin-bottom: 2px;
  background: url(../images/header_bg.png) no-repeat;
  background-size:100% 100%;
	position: relative;
}
.header .slimScrollDiv{
	position: static !important;
}
.Rectangle-3{
	width: 196px;
	height: 89px;
	margin:0 auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 30;
}
.Rectangle-3 img{
	width: 196px;
	height: 89px;
}
.header_awards{
	width: 206px;
	height: 194px;
	margin: 90px auto 0;
}
.header_awards img{
	width: 206px;
	height: 194px;
}
.texture{
  width: 605px;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
  margin: 25px auto 0;
  line-height: 17px;
}
.texture p{
	margin-bottom: 7px;
}
.signUpType{
	width: 420px;
	height: 50px;
	margin: 30px auto 0;
	font-size: 0;
}
.signUpType a{
	box-sizing: border-box;
	display: inline-block;
	width: 198px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	border: 1px solid #fff;
}
.signUpType a:first-of-type{
	margin-right: 16px;
	/*background-color: #5077f2;
	border: none;*/
}
.signUpType a:hover{
	border-color:#5077f2;
	background-color: #5077f2;
}
.next{
	width: 20px;
	height: 16px;
	background:url(../images/next.png) no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	-webkit-animation:jump 1s linear infinite;
	-moz-animation: jump 1s linear infinite;
	animation:jump 1s linear infinite;
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -10px;
}
@-webkit-keyframes jump{
	0%{transform: translateY(0);}
	50%{transform: translateY(-8px);}
	100%{transform: translateY(0);}
}
@-moz-keyframes jump{
	0%{transform: translateY(0);}
	50%{transform: translateY(-8px);}
	100%{transform: translateY(0);}
}
@keyframes jump{
	0%{transform: translateY(0);}
	50%{transform: translateY(-8px);}
	100%{transform: translateY(0);}
}


/*奖项设置*/
.awardsType{
	padding-top: 0.1px;
}
.awardsType ul{
	width: 100%;
	height: 50%;
	font-size: 0;
	overflow: hidden;
	padding-top: 0.1px;
}
.awardsType ul li{
	box-sizing: border-box;
	width: 33.3333%;
	height: 100%;
	display: inline-block;
	margin-left: -1px;
	border: 1px solid transparent;
	position: relative;
	cursor: pointer;
}
.awardsType ul:first-of-type li:first-of-type{
	background: url(../images/biange.png) no-repeat;
	background-size: 105% 105%;
}
.awardsType ul:first-of-type li:nth-of-type(2){
	background: url(../images/gongye.png) no-repeat center center;
	background-size: 114% 114%;
	border-top-color: #fff;
	margin-left: -0.5px;
}
.awardsType ul:first-of-type li:nth-of-type(3){
	background: url(../images/chuangxin.png) no-repeat;
	background-size: 105% 105%;
}
.awardsType ul:first-of-type{
	margin-bottom: -1.5px;
	position: relative;
	z-index: 5;
}
/*.awardsType ul:last-of-type{*/
	/*margin-top: -0.8px;*/
/*}*/
.awardsType ul:last-of-type li:first-of-type{
	background: url(../images/xinrui.png) no-repeat;
	background-size: 105% 105%;
}
.awardsType ul:last-of-type li:nth-of-type(2){
	background: url(../images/shangye.png) no-repeat;
	background-size: 105% 105%;

}
.awardsType ul:last-of-type li:nth-of-type(3){
	background: url(../images/chuangye.png) no-repeat;
	background-size: 105% 105%;
}
.awardsType ul li div{
	width: 129px;
	height: 120px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.awardsType ul li div img{
	display: block;
	width: 97px;
	height: 84px;
	margin: 0 auto;
}
.awardsType ul li div span{
	display: block;
	width:100%;
	height: 25px;
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 18px;
	margin-top: 11px;
}
.awardsType ul li:hover{
	box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.5);
  	border:1px solid #5077f2;
  	position: relative;
  	z-index: 10;
}
.awardsType ul:first-of-type li:nth-of-type(2):hover,.awardsType ul:first-of-type li:first-of-type:hover{
	border:1px solid #5077f2;
}

/*报名参评详细内容*/
.awardsIntro{
	width: 33.3333%;
	height: 100%;
	position: absolute;
	background-color: #5077f2;
	top: 0;
	left: 0;
	z-index: 20;
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
}
.awardsIntro>div{
	width: 320px;
	height: 33.3333%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.awardsIntroTop{
	border-bottom: 1px solid #264fd1;
}
.awardsIntroTop>dl{
	width: 132px;
	height: 132px;
}
.awardsIntroTop dl dt,.awardsIntroTop dl dt img{
	width: 97px;
	height: 84px;
}
.awardsIntroTop dl dt{
	margin: 0 auto;
}
.awardsIntroTop dl dd{
	font-size: 18px;
	line-height: 36px;
	color: #fff;
	text-align: center;
}
.awardsIntroMid{
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	letter-spacing: -0.2px;
}
.awardsIntroBtm{
	flex-direction: column;
}
.signUp{
	width: 140px;
	height: 40px;
	background-color: #fff;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	color: #5077f2;
	font-size: 12px;
	margin: 0 auto;
}
.closeAwardsIntro{
	width: 20px;
	height: 20px;
	background: url(../images/close_03.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 35px;
	cursor: pointer;
}

/*评选流程*/

.selectionProcess{
	box-sizing: border-box;
	/*padding-top: 166px;*/
	background: url(../images/selectionProcessBg.png) no-repeat;
	background-size: 100% auto;
}

.title{
	width: 533px;
	height: 58px;
	margin: 0 auto; 
}
.doubleHr{
	width: 151px;
	height: 3px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	float: left;
	margin-top: 26px;
}
.titleText{
	width: 231px;
	height: 100%;
	float: left;
	text-align: center;
}
.titleText h3{
	font-size: 28px;
	height: 40px;
	line-height: 40px;
	font-weight: 300;
}
.titleText p{
	height: 22px;
	font-size: 16px;
	line-height: 22px;
	margin-top: -4px;
}
.describe{
	width: 600px;
	height: 44px;
	line-height: 22px;
	text-align: center;
	margin: 54px auto 0;
	color: #595959;
	font-size: 16px;
}

.current{
	box-sizing: border-box;
	width: 930px;
	height: 240px;
	border: 1px solid #eee;
	border-radius: 3px;
 	background-color: #ffffff;
  	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  	margin: 56px auto 0;
  	padding: 70px 138px 0;
}
.current dl{
	width: 102px;
	float: left;
}
.current dl dt{
	width: 28px;
 	height: 28px;
  	margin: 0 auto;
}
.current dl dt span{
	display: block;
	width: 8px;
  	height: 8px;
 	background-color: #858585;
  	margin:10px auto 10px;
  	border-radius:100%;
}
.current .on{
	background-color: #5077f2;
}
.current dl dd{
	width: 100%;
	text-align: center;
}
.current dl dd h3{
	line-height:28px;
	margin-top: 11px;
	color: #595959;
	font-size: 20px;
	font-weight: 300;
}
.current dl dd p{
	font-size: 12px;
	font-weight: 300;
	margin-top: 4px;
	color: #808080;
	text-align: center;
}
.current .adress{
	margin: 4px 0 0 -42px;
	width: 185px;
  	height: 17px;
  	line-height: 17px;
  	color: #808080;
  	font-size: 12px;
  	font-weight: 300;
}

.singleHr{
	width: 170px;
  	height: 1px;
  	background-color: #e1e1e1;
  	float:left;
  	margin-top: 13.5px;
}
.current .now{
	border: solid 1px #e5e5e5;
  	border-radius: 100%;
  	margin-bottom: 19px;
}
.current .now span{
	background-color:#5077F2;
}
/*评审招募*/

.review{
	background: url(../images/review_bg.png)  no-repeat;
	background-size: 100% 100%;
	box-sizing: border-box;
	/*padding: 117px 0 0 0;*/
	margin-bottom: 60px;
}
.reviewContent{
	width: 932px;
	margin: 0 auto;
}
.reviewTitle{
	color: #fff;
}
.reviewTitle p{
	font-size: 40px;
	height: 56px;
	line-height: 56px;
}
.reviewTitle p span{
	line-height: 40px;
	font-size: 28px;
}
.reviewTitle p:last-of-type{
	margin: -21px 0 22px;
	font-size: 60px;
  	font-weight: 600;
  	height: 84px;
  	line-height: 84px;
}
.jury{
  box-sizing: border-box;
  width: 450px;
  height: 463.4px;
  background-color: #4b4b4b;
  border: solid 1px #4b4b4b;
  float: left;
  padding: 99px 0 0 77px;
  position: relative;
  cursor: pointer;
}
.editorJury{
	margin-left: 30px;
}
.jury h3{
	height: 33px;
	line-height: 33px;
	font-size: 24px;
  	font-weight: 600;
  	color: #fff;
}
.jury .number{
	display: block;
	margin-top: 7px;
	height: 22px;
	font-size: 16px;
	line-height: 22px;
	color: #b3b3b3;
	font-weight: 300;
}
.jury p{
	width: 310px;
    height: 100px;
    color: #b3b3b3;
    font-size: 14px;
    margin-top: 102px;
    line-height: 20px;
}

.path-3{
	display: none;
	position: absolute;
  	width: 0;
  	height: 0;
  	border: 40px solid transparent;
	border-right-color:#313131 ;
	border-bottom-color: #313131;
	right: 0;
	bottom: 0;
}
.path-3 .add{
	display: block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: #5077f2;
	font-size: 40px;
	position: absolute;
	right: -28px;
	bottom: -28px;
}
.jury:hover{
  	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
  	border: solid 1px #345ee2;
}
.jury:hover .path-3{
	display: block;
}
/*footer部分*/
.footer{
	background: url(../images/selectionProcessBg.png) no-repeat;
	background-size: 100% auto;
}
.footer .fp-tableCell{
	height: 100%;
	display: flex;
	justify-content: center;
	align-content:space-between ;
	flex-wrap:wrap;
}
.footerBox{
	height: 80%;
	min-width: 980px;
	width: 85%;
	padding-top: 30px;
	display: flex;
	justify-content: center;
	align-content:space-around ;
	flex-wrap:wrap;
	position: relative;
	margin: 0 auto;
}
.organizer{
	width: 90%;
}
.organizer .titleText,.contact .titleText{
	color: #000;
	opacity: 0.6;
}
.company{
	margin: 40px auto 0;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.zhidx{
	width: 180px;
	height: 84px;
}
.awe{
	width: 120px;
	height: 72px;
}
.jiguo{
	width: 175px;
	height: 68px;
}
.gfk{
	width: 65px;
	height: 65px;
}
.qq{
	width: 219px;
	height: 59px;
}
.contact{
	margin-top: 30px;
}
.consult{
	width: 533px;
	margin: 30px auto 0;
	display: flex;
	justify-content: space-between;
}
.consult>div{
	width: 157px;
}
.consult>div dl{
	width: 100%;
}
.consult>div dl dt{
	box-sizing: border-box;
	width: 110px;
  	height: 105.4px;
  	background-color: #e6e6e6;
  	margin: 0 auto;
  	padding-top: 74px;
 }
.consult>div dl dt p{
	height: 22px;
	line-height: 22px;
	color: #343434;
	text-align: center;
}
.consult>div dl dd{
	text-align: center;
	margin-top: 17px;
}
.consult>div dl dd h4{
	  height: 28px;
	  opacity: 0.6;
	  font-size: 20px;
	  font-weight: 600;
	  color: #000000;
	  line-height: 28px;
}
.consult>div dl dd p{
  height: 22px;
  opacity: 0.6;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #000000;
}
.consult .verticalLine{
	width: 1px;
  	height: 180px;
  	opacity: 0.1;
  	background-color: #000000;
}
.gtic{
	width: 100%;
	height: 100px;
  	background-color: #f5f5f5;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}
.gtic img{
	width: 100%;
	height: auto;
}

/*分页器*/

#fp-nav ul li a span{
	width: 5px;
	height: 5px;
	border: none;
	background-color: #858585;
}
#fp-nav ul li a.active span{
	background-color: #fff;
}
#fp-nav ul li:nth-of-type(2) a.active span,#fp-nav ul li:nth-of-type(4) a.active span{
	background-color: #000;
}
#fp-nav ul li:hover a span{
	transform: scale(2);
}
#fp-nav ul li .fp-tooltip{
	top:-4px;
}
/*评审团报名程序*/

.shade{
	width: 100%;
	min-height: 650px;
	position: fixed;
	background-color: rgba(0,0,0,0.6);
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.signUpPage{
	width: 632px;
	height: 644px;
	background:#fff;
	position: relative;
}
.jurySignUpHeader{
	height: 98px;
	padding: 0 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.jurySignUpHeader img{
	width: 71px;
	height: 62px;
}
.jurySignUpCurrent{
	width: 240px;
	height: 26px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.CEOJuryTitle,.editorJuryTitle{
	box-sizing: border-box;
	padding-right: 35px;
	width: 240px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 16px;
	color: #5077F2;
	display: none;
}
.hr{
	width: 60px;
	height: 1px;
	background-color: #e0e0e0;
}
.closeSignUp{
	width: 16px;
	height: 16px;
	background: url(../images/a_05.png) no-repeat;
	cursor: pointer;
}
.jurySignUpMid{
	margin-top: 26px;
}
.jurySignUpMid h4{
	line-height: 36px;
	color: #5077f2;
	font-size: 16px;
	text-align: center;
	font-weight: 300;
}
.jurySignUpMid p{
	width: 380px;
	height: 60px;
	font-size: 16px;
	background-color: #f2f5ff;
	line-height: 60px;
	text-align: center;
	color: #5077f2;
	margin: 0 auto;
	cursor: pointer;
}
.jurySignUpMid .CEOEnter{
	margin-top: 130px;
}
.jurySignUpMid .editorEnter{
	margin-top: 30px;
}
.jurySignUpMid .checked{
	background-color: #5077f2;
	color: #fff;
}
.nextStep{
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #5077f2;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	position: absolute;
	left: 0;
	bottom: 0;
}
.firstStep,.secondStep,.threeStep{
	width: 26px;
	height: 26px;
	background: url(../images/a_08.png) no-repeat center center;
	background-size: 8px 8px;
}
.firstPage .firstStep{
	background: url(../images/circle.png) no-repeat;
	background-size: 26px 26px;
}
.secondPage .firstStep{
	background: url(../images/images/b-1_03.png) no-repeat center center;
}
.secondPage .secondStep{
	background:url(../images/circle.png) no-repeat;
	background-size: 100% 100%;
}

.threePage  .firstStep,.threePage .secondStep{
	background: url(../images/images/b-1_03.png) no-repeat center center;
}
.threePage .threeStep{
	background:url(../images/circle.png) no-repeat;
	background-size: 100% 100%;
}
.threePage .nextStep{
	display: none;
}
.JuryPage{
	padding:0 36px;
	margin-top: 30px;
	color: #5077f2;
}
.JuryPage dl{
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
}
.JuryPage dl dt{
	width: 68px;
	height: 100%;
	float: left;
	line-height: 30px;
	font-size: 12px;
}
.JuryPage dl dd{
	width: 484px;
	height: 30px;
	float: left;
	background-color: #f2f5ff;
	line-height: 30px;
	display: flex;
	align-items: center;
}
.JuryPage dl dd input{
	width: 400px;
	height: 30px;
	border: none;
	outline: none;
	background-color: #f2f5ff;
	font-size: 12px;
	color: #5077f2;
	padding-left: 14px;
}
.notice{
	margin-top: 35px;
	line-height: 17px;
	font-size: 12px;
	letter-spacing: 0.7px;
}
.editorJuryPage .notice{
	letter-spacing: 0.3px;
}
.notice h3{
	font-size: 12px;
	line-height: 24px;
	font-weight: 300;
}
.CEOJuryPage,.editorJuryPage{
	display: none;
}
.successSubmit{
	margin-top: 100px;
	display: none;
}
.successSubmit dl{
	width: 100%;
	color: #5077f2;
}
.successSubmit dl dt{
	width: 109px;
	height: 109px;
	margin: 0 auto;
}
.successSubmit dl dt img{
	width: 109px;
	height: 109px;
}
.successSubmit dl dd{
	text-align: center;
}
.successSubmit dl dd h4{
	font-size: 20px;
	font-weight: 300;
	line-height: 46px;
}
.successSubmit dl dd p{
	line-height: 20px;
	font-size: 14px;
}
.tips{
	padding-left: 20px;
	font-size: 12px;
	line-height: 30px;
}
textarea{
	padding-top: 5px;
}

/*填表单项状态*/
.wrong{
	display: block;
	background: url(../images/images/error_03.png) no-repeat left center;
	color: #f76b6a;
}
.true{
	display: none;
	background: none;
}

/*奖项报名*/
.awardsSignUpPage{
	display: none;
}
/*第一页*/
.awardsSignUpType{
	padding-top: 40px;
	text-align: center;
	color: #5077F2;
}
.awardsSignUpPage h4{
	font-weight: 300;
	font-size: 16px;
	line-height: 36px;
}
.awardsSignUpPage ul{
	width: 570px;
	margin: 35px auto 0;
}
.awardsSignUpPage ul li{
	width: 280px;
	height: 60px;	
	font-size: 16px;
	margin:10px 10px 0 0;
	text-align: center;
	line-height: 60px;
	background-color: #f2f5ff;
	float: left;
	cursor: pointer;
}
.awardsSignUpPage ul li:nth-of-type(2),.awardsSignUpPage ul li:nth-of-type(4){
	margin-right: 0;
}
.awardsSignUpPage .awardsChecked{
	background-color:#5077F2;
	color: #fff;
}
/*第二页(工业、创新、商业)*/
.awardsPage{
	padding: 0 36px;
	margin-top: 22px;
	display: none;
}
.awardsPage dl {
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	color: #5077f2;
}
.awardsPage .intro,.awardsPage .reason,.awardsPage .companyIntro{
	height: 100px;
}
.awardsPage dl dt{
	width: 72px;
	height: 100%;
	float: left;
	font-size: 12px;
	display: flex;
	align-items: center;
}
.awardsPage dl dd{
	width: 484px;
	height: 100%;
	float: left;
	background-color: #f2f5ff;
	line-height: 30px;
	display: flex;
	align-items: center;
}
.awardsPage dl dd input{
	width: 400px;
	height: 30px;
	border: none;
	outline: none;
	background-color: #f2f5ff;
	font-size: 12px;
	color: #5077f2;
	padding-left: 14px;
}
.awardsPage dl dd textarea{
	width: 400px;
	height: 100%;
	border: none;
	outline: none;
	background-color: #f2f5ff;
	font-size: 12px;
	line-height: 18px;
	color: #5077f2;
	padding-left: 14px;
	resize : none;
}
.prevStep{
	width: 50px;
	height: 50px;
	background:url(../images/images/prev_03.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	cursor: pointer;
	display: none;
}

/*年度新锐*/
/*.newCompany{
	display: block;
}*/

/*年度创业人物*/
/*.pioneeringPeople{
	display: block;
}*/

/*奖项第三页*/

/*.moreInfor{
	display: block;
}*/
.moreInfor h4{
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	color: #5077F2;
}

/*获奖名单*/
.winners{
	box-sizing: border-box;
	background:url(../images/winners/winner_bg.png) center center;
	background-size: 1440px auto;
}
.winnersContent{
	width: 880px;
	margin: 80px auto 50px;
}
.winnersContent .doubleHr{
	opacity: 0.3;
}
.winnersContent .titleText h3{
	color: #ffffff;
}
.winnersContent .titleText p{
	color: #ffffff;
	opacity: 0.4;
}
.winners-list{
	margin-top: 30px;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.winners-list li{
	box-sizing: border-box;
	height: 490px;
	padding:50px 0 50px;
	border-bottom: 2px solid rgba(255,255,255,0.1);
}
.winners-list li:last-of-type{
	border-bottom: none;
}
.item-common{
	height: 100%;
	position: relative;
}
.item-left{
	float: left;
	width: 500px;
}
.item-right{
	float: right;
	width: 300px;
}
.item-title,.item-des{
	width: 300px;
}
.item-title dt{
	float: left;
	width: 97px;
	height:84px;
	margin-right: 20px;
}
.item-title dt img{
	width: 100%;
	height:auto;
}
.item-title dd{
	float: left;
	line-height: 42px;
	font-size: 24px;
	color: #fff;
	height: 84px;
	letter-spacing: 1px;
}
.item-des{
	margin-top: 40px;
	line-height: 20px;
	opacity: 0.6;
	font-size: 14px;
	color: #ffffff;
	letter-spacing: 1px;
}
.item-people{
	padding: 0 5px;
	height: 150px;
	position: absolute;
	left:0;
	bottom: 0;
	width: 100%;
}
.item-right .item-people{
	width: 105%;
}
.item-people dl{
	float: left;
	width: 90px;
	margin-right: 10px;
}
.item-people dl dt{
	width: 82px;
	height: 82px;
	border: 4px solid  rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
}
.item-people dl dd{
	box-sizing: border-box;
	width: 90px;
	height: 60px;
	background-color: rgba(255,255,255,0.2);
	font-size: 18px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	padding: 5px 0;
}
.item-people dl dd p{
	line-height: 25px;
}
.item-people dl .long-text{
	padding: 10px 0;
	font-size: 14px;
}
.item-people dl .long-text p{
	line-height: 20px;
}
.item-people dl .ceo-long-text{
	padding: 0;
}
.item-people dl .ceo-long-text h4{
	font-weight: normal;
	font-size: 18px;
	padding: 0;
	line-height: 26px;
}
.item-people dl .ceo-long-text p{
	font-size: 12px;
	line-height: 17px;
}