.report-item {
  text-align: center;
}
.report-item .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: #424242;
  color: #fff;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
}
.report-item .errInfo {
  position: absolute;
  width: 100%;
  color: #d60000;
  font-size: 22px;
  top: 30px;
  font-weight: 700;
}
.report-item .media-box .info,
.report-item .part-box .info {
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 65px;
}
.report-item .media-box .info h1,
.report-item .part-box .info h1 {
  height: 50px;
  font-size: 26px;
  color: #000;
}
.report-item .media-box .info label,
.report-item .part-box .info label {
  display: block;
  height: 40px;
  line-height: 40px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #808080;
  vertical-align: middle;
}
.report-item .media-box .info label input,
.report-item .part-box .info label input {
  width: 340px;
  height: 40px;
  background-color: #ebebeb;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  margin-left: 25px;
  padding-left: 20px;
  font-size: 16px;
  vertical-align: middle;
  color: #323232;
}
.report-item .media-box .info label span,
.report-item .part-box .info label span {
  display: inline-block;
  _display: inline;
  zoom: 1;
  width: 100px;
  text-align: justify;
  text-align-last: justify;
  font-size: 16px;
}
.report-item .media-box .info label .err,
.report-item .part-box .info label .err {
  color: red;
  width: 120px;
}
.report-item .media-box .info button,
.report-item .part-box .info button {
  width: 340px;
  height: 40px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  font-size: 20px;
  vertical-align: middle;
  background-color: #5077F2;
  color: #fff;
  margin-top: 30px;
  cursor: pointer;
  text-align: center;
  padding-left: 0;
}
.report-item .media-box ::-webkit-input-placeholder,
.report-item .part-box ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b2b2b2;
}
.report-item .media-box :-moz-placeholder,
.report-item .part-box :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b2b2b2;
}
.report-item .media-box ::-moz-placeholder,
.report-item .part-box ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b2b2b2;
}
.report-item .media-box :-ms-input-placeholder,
.report-item .part-box :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b2b2b2;
}
.report-item .media-box .err {
  padding-left: 20px;
}
.report-item .media-box button[data-submit] {
  margin-top: 50px !important;
}
.report-item .part-box .info {
  padding-top: 60px;
}
.report-item .part-box .info h1 {
  font-size: 24px;
  margin-bottom: 15px;
}
.report-item .part-box .info label .err {
  margin-left: 10px;
  text-align: center;
}

.report-item .succeed .pic img {
  display: block;
  width: 102px;
  height: 102px;
  margin: 200px auto 20px auto;
}
.report-item .succeed .flow {
  margin-top: 60px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.report-item .succeed .flow h3 {
  margin-bottom: 20px;
}
.report-item .succeed .flow p {
  font-size: 14px;
  color: #808080;
}
.awe{
  padding-top: 19px;
  margin:0 auto;
  margin-top: 19px;
  width: 280px;
  border-top: 1px solid #E6E6E6;
}
.awe a{
  display: block;
  margin:0 auto;
  width: 280px;
  height: 26px;
  line-height: 26px;
  background-color: #5077F2;
  color: #fff;
  font-size: 12px;
}
.awe .arrow{
  display: inline-block;
  width: 10px;
  height: 10px;
  line-height: 26px;
  background: url(../../images/go.png);
  background-size: 100% 100%;
}