.content-warp .choice-event-content li {
  width: 259px !important;
  height: 271px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.content-warp .choice-event-content li .choice-img-box {
  height: 141px;
}
.content-warp .choice-event-content li .choice-img-box + .desc-box {
  height: 94px;
  width: 231px;
}
.content-warp .choice-event-content li .desc-box .favourable {
  margin-top: 5px;
}
.content-warp .choice-event-content li .desc-box .d-number {
  width: 230px;
}
