.product-check-wrapper {
  margin: 20px;
}
.product-check-wrapper .product-check {
  margin-bottom: 20px;
}
.product-check-wrapper .product-check span {
  width: 70px;
  padding: 10px 0;
}
.product-check-wrapper .product-check input {
  width: 470px;
  height: 38px;
  line-height: 38px;
  background-color: #f7f7f7;
  border: 1px solid #ededed;
  font-size: 14px;
  vertical-align: middle;
  outline: none;
}
.Z-url-item {
  margin-top: 20px;
  border-bottom: 1px solid #f0f0f0;
}
#addUrl {
  margin-top: 20px;
}
.delete-url {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ededed;
  cursor: pointer;
  color: #313131;
  font-size: 20px;
  vertical-align: top;
}
.url-item {
  display: inline-block;
  margin-left: 20px;
}
.url-item .Z-row:first-child {
  margin-top: 0;
}
.quick-add-tag {
  position: absolute;
  top: 10px;
  right: 25px;
  display: none;
}
#brandList {
  position: absolute;
  top: 40px;
  left: 74px;
  display: none;
  width: 773px;
  border: 1px solid #ededed;
  border-top: none;
  background-color: #fff;
  z-index: 1;
  max-height: 315px;
  overflow: hidden;
  overflow-y: scroll;
}
#brandList:focus {
  -webkit-appearance: none;
  border: 0;
  outline: none;
  border-radius: 0;
}
#brandList li {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  cursor: pointer;
}
#brandList li.on {
  background-color: #f5f5f5;
}
#brandList li:hover {
  background-color: #f5f5f5;
}
