.vip_preview {
  background-color: #fff;
  margin: 30px auto;
  padding: 20px 0;
}
.vip_preview .vip_preview_review {
  width: 980px;
  height: auto;
  margin: 0 auto 50px auto;
  padding-top: 25px;
  background-color: #F7F7D3;
  border-radius: 4px;
}
.vip_preview .vip_preview_review .vip_review_icon {
  float: left;
  width: 36px;
  height: 53px;
  margin: 0 28px 0 37px;
}
.vip_preview .vip_preview_review .vip_review_icon i {
  display: block;
  width: 100%;
  height: 36px;
  margin-top: 9px;
}
.vip_preview .vip_preview_review .vip_review_icon .check {
  background-position: 0 -47px;
}
.vip_preview .vip_preview_review .vip_review_icon .pass {
  background-position: 0 0;
}
.vip_preview .vip_preview_review .vip_review_icon .nopass {
  background-position: 0 -94px;
}
.vip_preview .vip_preview_review .vip_review_info {
  position: relative;
  overflow: hidden;
  color: #8F8D5A;
}
.vip_preview .vip_preview_review .vip_review_info h3 {
  font-size: 18px;
}
.vip_preview .vip_preview_review .vip_review_info p {
  font-size: 14px;
  padding: 8px 0 15px 0;
}
.vip_preview .vip_preview_review .vip_review_info .reapply {
  position: absolute;
  top: 0px;
  right: 40px;
  width: 110px;
  height: 32px;
  font-size: 14px;
  background-color: #EFA3A3;
  border: 1px solid #8D3835;
  border-radius: 5px;
}
.vip_preview .vip_preview_review .vip_review_info .reapply a {
  display: inline-block;
  _display: inline;
  zoom: 1;
  width: 100%;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #8D3835;
}
.vip_preview .vip_preview_applyInfo {
  width: 940px;
  margin: 0 auto;
}
.vip_preview .vip_preview_applyInfo .vip_preview_info {
  margin-top: 43px;
}
.vip_preview .vip_preview_applyInfo .vip_preview_info .vip_info_title {
  margin-bottom: 23px;
  color: #404040;
  font-size: 18px;
}
.vip_preview .vip_preview_applyInfo .vip_preview_info .vip_info_line {
  font-size: 14px;
  line-height: 25px;
}
.vip_preview .vip_preview_applyInfo .vip_preview_info .vip_info_line span {
  display: inline-block;
  _display: inline;
  zoom: 1;
  color: #b3b3b3;
}
.vip_preview .vip_preview_applyInfo .vip_preview_info .vip_info_line .name {
  width: 115px;
  float: left;
}
.vip_preview .vip_preview_applyInfo .vip_preview_info .vip_info_line .msg {
  color: #595959;
  word-wrap: break-word;
  max-width: 825px;
}
.vip_preview .vip_preview_applyInfo .vip_preview_info .vip_info_line .product {
  color: #30A7D1;
}
.vip_preview .vip_preview_applyInfo .vip_preview_info .vip_info_skill {
  color: #595959;
  font-size: 14px;
}
.vip_preview .vip_preview_applyInfo .vip_preview_info .vip_info_skill .skill_name {
  margin-bottom: 13px;
  margin-top: 10px;
  color: #404040;
  font-size: 16px;
}
.vip_preview .vip_preview_applyInfo .vip_preview_info .vip_info_skill .til {
  margin: 10px 0;
}
.vip_preview .vip_preview_applyInfo .vip_preview_info .vip_info_skill .pic li {
  margin-right: 10px;
  margin-bottom: 24px;
  height: 147px;
}
.vip_preview .vip_preview_applyInfo .vip_preview_info .vip_info_skill .pic li:nth-child(6n) {
  margin-right: 0;
}
.vip_preview .vip_preview_applyInfo .vip_preview_info .vip_info_skill .pic img {
  width: 147px;
}
.vip_preview .vip_preview_applyInfo .vip_preview_info .vip_info_skill .des .textarea {
  display: inline-block;
  _display: inline;
  zoom: 1;
  width: 100%;
  border: 1px solid #e9e9e9;
  padding: 17px 0 0 14px;
  min-height: 110px;
  color: #595959;
}
