<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>弹窗</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name="aplus-terminal" content="1"/>
    <meta name="apple-mobile-web-app-title" content="JiangZG"/>
    <meta name="apple-mobile-web-app-site" content="http://www.jiangzg.com/"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="智东西">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="browsermode" content="application">
    <meta name="full-screen" content="yes">
    <meta name="x5-page-mode" content="app">
    <meta name="x5-fullscreen" content="true">
    <meta name="msapplication-tap-highlight" content="no">
    <title>2016智能+未来峰会-新经济 新智能 新三板</title>
    <meta name="keywords" content="新经济，把脉未来三十年；新智能，创新力量驱动产业升级；新三板，洞悉资本市场新规则" />
    <meta name="description" content="新经济，把脉未来三十年；新智能，创新力量驱动产业升级；新三板，洞悉资本市场新规则" />

    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/base.js"></script>
</head>
<body>

<a id="k_dialog_table_window2">AWE科技公园媒体入驻申请</a><br>
<a id="k_dialog_table_window1">AWE科技公园展商入驻申请</a>

<script type="text/html" id="k_dialog_window_tpl">
    <div class="k_dialog_window" id="<%=k_dialog_window_id%>">
        <div class="k_dialog_mask"></div>
        <table class="k_dialog_table_base" cellpadding="0" cellspacing="0">
            <tr>
                <td class="k_dialog_table_td">
                    <div class="k_dialog_body"><%=k_dialog_window_content%></div>
                </td>
            </tr>
        </table>
    </div>
</script>

<script type="text/html" id="k_dialog_body_tpl">
    <div class="k_dialog_body_border">
        <div class="k_dialog_close"><span>×</span></div>
        <div class="k_dialog_header"><h3><%=title%></h3></div>
        <div class="k_dialog_content">
            <% if(media==1){ %>
            <div class="header-desc">
                <div class="header-text">AWE科技公园在区域内板块规划上，共包括智慧娱乐、智慧出行、人工智能、智能生活、运动健康、全球首发等6大内容板块，以最好的产品为观众带来最好的体验。采用限量+审核入驻制，目前已正式开放申请。</div>
                <div class="inner-title">参展联系人:</div>
                <div class="header-user-list">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <td>亿伊</td>
                            <td>微信：yiyi-116</td>
                        </tr>
                        <tr>
                            <td>冯超</td>
                            <td>微信：fc451148516</td>
                        </tr>
                        <tr>
                            <td>Lariver</td>
                            <td>微信：imlariver</td>
                        </tr>
                    </table>
                </div>
            </div>
            <% } %>
            <div class="inner-title">提交<% if(media==1){ %>展商<% }else{ %>媒体<% } %>信息报名:</div>
            <div class="inner-body">
                <form id="applyForm">
                    <input type="hidden" name="apply[media]" id="media" value="<%=media%>">
                    <table class="inner-table" cellpadding="0" cellspacing="0">
                        <!-- 展商 -->
                        <% if(media==1){ %>
                            <tr>
                                <td class="item-name">公司：</td>
                                <td class="item-input">
                                    <input class="text" placeholder="填写公司名称" type="text" name="apply[company]" id="company">
                                </td>
                                <td class="item-tips">
                                    <img src="images/error.png">
                                    <span class="no-data">未填写公司</span>
                                    <span class="error">公司填写错误</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="item-name">参展产品：</td>
                                <td class="item-input">
                                    <input class="text" name="apply[product]" id="product" placeholder="填写参展产品" type="text">
                                </td>
                                <td class="item-tips">
                                    <img src="images/error.png">
                                    <span class="no-data">未填写参展产品</span>
                                    <span class="error">参展产品填写错误</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="item-name">姓名：</td>
                                <td class="item-input">
                                    <input class="text" placeholder="填写姓名" type="text" name="apply[name]" id="name">
                                </td>
                                <td class="item-tips">
                                    <img src="images/error.png">
                                    <span class="no-data">未填写姓名</span>
                                    <span class="error">姓名填写错误</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="item-name">手机：</td>
                                <td class="item-input">
                                    <input class="text" placeholder="填写手机号码" type="text" name="apply[phone]" id="phone">
                                </td>
                                <td class="item-tips">
                                    <img src="images/error.png">
                                    <span class="no-data">未填写手机</span>
                                    <span class="error">手机填写错误</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="item-name">微信：</td>
                                <td class="item-input">
                                    <input class="text" placeholder="填写微信号码" type="text" name="apply[weixin]" id="weixin">
                                </td>
                                <td class="item-tips"></td>
                            </tr>
                        <% }else if(media==2){ %>
                            <tr>
                                <td class="item-name">姓名：</td>
                                <td class="item-input">
                                    <input class="text" placeholder="填写姓名" type="text" name="apply[name]" id="name">
                                </td>
                                <td class="item-tips">
                                    <img src="images/error.png">
                                    <span class="no-data">未填写姓名</span>
                                    <span class="error">姓名填写错误</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="item-name">手机：</td>
                                <td class="item-input">
                                    <input class="text" placeholder="填写手机号码" type="text" name="apply[phone]" id="phone">
                                </td>
                                <td class="item-tips">
                                    <img src="images/error.png">
                                    <span class="no-data">未填写手机</span>
                                    <span class="error">手机填写错误</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="item-name">微信：</td>
                                <td class="item-input">
                                    <input class="text" placeholder="填写微信号码" type="text" name="apply[weixin]" id="weixin">
                                </td>
                                <td class="item-tips"></td>
                            </tr>
                            <tr>
                                <td class="item-name">公司邮箱：</td>
                                <td class="item-input">
                                    <input class="text" placeholder="填写公司邮箱" type="text" name="apply[email]" id="email">
                                </td>
                                <td class="item-tips">
                                    <img src="images/error.png">
                                    <span class="no-data">未填写公司邮箱</span>
                                    <span class="error">公司邮箱填写错误</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="item-name">公司：</td>
                                <td class="item-input">
                                    <input class="text" placeholder="填写公司名称" type="text" name="apply[company]" id="company">
                                </td>
                                <td class="item-tips">
                                    <img src="images/error.png">
                                    <span class="no-data">未填写公司</span>
                                    <span class="error">公司填写错误</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="item-name">职位：</td>
                                <td class="item-input">
                                    <input class="text" name="apply[job]" id="job" placeholder="填写职位" type="text">
                                </td>
                                <td class="item-tips">
                                    <img src="images/error.png">
                                    <span class="no-data">未填写职位</span>
                                    <span class="error">职位填写错误</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="item-name">署名文章：</td>
                                <td class="item-input">
                                    <input class="text" placeholder="填写署名文章" type="text" name="apply[article]" id="article">
                                </td>
                                <td class="item-tips">
                                    <img src="images/error.png">
                                    <span class="no-data">未填写署名文章</span>
                                    <span class="error">署名文章填写错误</span>
                                </td>
                            </tr>
                        <% } %>
                        <tr>
                            <td class="item-name"></td>
                            <td class="submit-form" colspan="3">
                                <button class="btn" type="button" id="submit-data">提交</button>
                                <img class="animate-rotate none" src="images/loading.png">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="k_dialog_success_tpl">
    <div class="k_dialog_body_border">
        <div class="k_dialog_close"><span>×</span></div>
        <div class="k_dialog_header"><h3><%=title%></h3></div>
        <div class="k_dialog_content" style="overflow:hidden;">
            <table cellpadding="0" cellspacing="0" style="width: 100%;height: 100%;">
                <tr>
                    <td>
                        <div class="success-wrap">
                            <div><img src="images/success.png"></div>
                            <div class="success-text">提交成功</div>
                            <div class="success-tips">您的申请已提交，我们会在1-2个工作日内联系您，<br>谢谢您的申请！</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</script>


</body>

</html>