
.Z-is-apply{
    color:#fc6b6b;
}
.Z-is-event{
    color: #7cc273;
}
.Z-event-status{
    font-size: 12px;
}
.Z-event-status span:first-child{
    margin-right: 20px;
}
.Z-event-target{
    border-radius: 5px;
    border: 1px solid #ebebeb;
    padding: 4px 10px 3px 10px;
    font-size: 12px;
    font-weight: 100;
    color: #999;
    position: relative;
    top: -1px;
    margin: 0 5px;
}
.Z-inner-title{
    display: inline-block;
    color: #000;
}
.Z-inner-list:after{
    content: '';
    clear: right;
    display: block;
}
span.Z-waite-list {
    display: inline-block;
    width: 100px;
}
[data-event-list-warp] .Z-inner-list {
    border-bottom: 1px dashed #e8e8e8;
    margin-bottom:10px;
    padding-bottom: 10px;
}
.Z-waite-list .number{
    margin: 0 5px;
    color: #999;
}
.Z-waite-list i{
    margin: 0 5px 0 0px;
}

.Z-w-327{
    width: 327px !important;
}

/**
订单列表部分
**/
.Z-list-title strong{
    color: #000000;
}
.Z-order{
    font-size: 12px;
    margin-top: 15px;
}
.Z-list-ul.Z-order li {
    margin: 0px;
    border: none;
    padding: 0;
    margin-bottom: 15px;
}
.Z-order-list-view{
    border: 1px solid #e9e9e9;
}
.Z-order-cell-header{
    line-height: 30px;
    background: #f7f7f7;
    border-bottom: 1px solid #e9e9e9;
    color: #808080;
    padding: 0 10px;
}
.Z-order-cell-body{
    padding:10px;
}
.Z-jine span{
    margin-left: 10px;
}

.Z-order .close *,.Z-order .cancel *{
    color: #b2b2b2 !important;
}
.event-order-note-warp{
    height: 90px;
    background: #fafafa;
    border:1px solid #ececec;
    padding:8px 10px;
}
.event-order-note-warp textarea{
    width: 100%;
    height: 100%;
    background: transparent;
}
.event-order-send-type label{
    margin-right: 30px;
}
/********************
复选框样式
********************/

@font-face {
    font-family: Muiicons;
    font-style: normal;
    font-weight: 400;
    src: url(http://zdm.jiguo.com/zdm.ttf) format("truetype")
}
.icon {
    display: inline-block;
    font-family: Muiicons;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased
}
.input-group{
    display: inline-block;
}
.input-row{
    display: inline-block;
    margin-right: 15px;
}
.checkbox input[type=checkbox],
.radiobox input[type=radio] {
    position: relative;
    display: inline-block;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0!important;
    margin-right: 5px;
}
.checkbox input[type=checkbox]:before{
    content:'\e413';
}
.checkbox input[type=checkbox]:checked:before {
    content:'\e443';
    color:#ed4f37 !important;
}
.radiobox input[type=radio]:before{
    content:'\e411';
}
.radiobox input[type=radio]:checked:before {
    content:'\e442';
    color:#ed4f37 !important;
}

.Z-event .Z-bottom-line{
    margin: 30px auto;
}
/***********
Z-uploadify-banner
************/
.Z-event .Z-uploadify-banner li{
    width: auto;
}
.Z-event .Z-uploadify-banner li img{
    max-width: none;
    max-height: 94px;
}

/***********
添加活动卡片
***********/
.Z-event .Z-card-list-box{
    border-radius: 5px;
    border:1px solid #e6e6e6;
    position: relative;
    width: 270px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.Z-event .Z-card-list-warp{
    margin-left: 70px;
}
.Z-event .Z-card-list-warp:after{
    content: '';
    display: block;
    clear: both;
}
.Z-event .Z-card-title {
    padding: 0 15px;
    height: 50px;
    color: #ff4d46;
    font-size: 16px;
    line-height: 50px;
}
.Z-event .Z-card-title  .card-tips {
    float: right;
    color: #676767;
    font-size: 14px;
}

.Z-event .Z-card-inner {
    padding: 15px;
}
.event-model-wrapper .Z-card-inner{
    height: 270px;
    overflow: scroll;
}

.Z-card-text{
    margin-top: 12px;
    font-size: 14px;
}

.Z-event .Z-buyBtn a {
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: normal;
    display: block;
    background: #fc6b6b;
    color: #fff;
    border-top: 2px solid #fc6b6b;
    border-bottom: 2px solid #ee5a5a;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.Z-event .Z-buyBtn {
    position: relative;
    margin: auto 15px 15px;
}
.Z-event  .Z-buyBtn.Z-gray a{
    border-top: 2px solid #bcbcbc;
    border-bottom: 2px solid #bcbcbc;
    background: #bcbcbc;
}

.Z-event .Z-buyBtn.Z-left.Z-gray{
    margin-left: 10px;
}

.Z-event .card-number{
    line-height: 40px;
}
.Z-event .yan-number{
    font-size: 56px;
}
.Z-event .Z-card-close{
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    background: #e6e6e6;
    color:#444;
    position: absolute;
    right:-10px;
    top:-10px;
    cursor: pointer;
}
.Z-event .Z-card-close:hover{
    color: #fe5341;
}
.Z-event .Z-card-inner.Z-tips {
    text-align: center;
    background: #f7f7f7;
    cursor: pointer;
    padding: 102px 0;
}
.event-model-wrapper .Z-card-inner.Z-tips{
    box-sizing: border-box;
    overflow: hidden;
}
.Z-event .Z-card-inner.Z-tips .Z-add-fuhao{
    display: block;
}
.Z-event .Z-card-inner.Z-tips .Z-add-fuhao .Z-i-1,
.Z-event .Z-card-inner.Z-tips .Z-add-fuhao .Z-i-2{
    width: 2px;
    background: #fc6b6b;
    display: block;
    position: relative;
    margin: auto;
    height: 40px;
}
.Z-event .Z-card-inner.Z-tips .Z-add-fuhao .Z-i-1{

}
.Z-event .Z-card-inner.Z-tips .Z-add-fuhao .Z-i-2{
    height: 2px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: -19px;
}
.Z-event .Z-card-inner.Z-tips .Z-tips-text{
    font-size: 16px;
    display: block;
}

/********
关联产品
*********/
.Z-event .Z-link-product{
    width: 220px;
    display: inline-block;
}

.Z-event .Z-loading-product{
    width: 182px;
    margin: 0;
}
/***********
试用通过用户
***********/
.Z-event-user-apply-list{
    line-height: 30px;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}
.Z-event-user-apply-list th{
    color: #cccccc;
}
.Z-event-user-apply-list th,
.Z-event-user-apply-list td{
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}
.Z-user-face-box{
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.Z-user-face-box img{
    width: 100%;
}
.Z-user-info-list-box li{
    margin: 0 0 20px 0;
    border-bottom: 1px dotted #e6e6e6;
    padding:0 0 20px 0;
}
.Z-user-info-desc{
    margin-left: 40px;
}
/*****************
强制添加图标
******************/
.icon-user-event-add{
    background-image: url(../images/event/icon-user-event-add.png);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 10px;
    margin-right: 5px;
}
.Z-query-qiangzhi-add{
    font-size: 16px;
    font-weight:100;
    cursor: pointer;
}
/*****************
强制添加弹窗
******************/
.layer-event-add-user-search .Z-btn{
    /*margin-left: 10px;*/
}

.layer-event-add-user-list{
    margin: 25px 0 20px 0;
    height: 330px;
    margin-bottom: 0;
    overflow: scroll;
}
.layer-event-add-user-list li img{
    width: 100%;
}
.layer-event-add-user-list li {
    line-height: 30px;
    margin: 10px 10px 10px 0;
    float: left;
    width: 295px;
}
.layer-event-add-user-list ul:after{
    content: '';
    display: block;
    clear: both;
}
.layer-event-add-user-list li .layer-query{
    display: block;
    padding:10px;
    float: right;
    margin-right: 20px;
    background: url(../images/event/icon-add-event-user.png) no-repeat center center;
}
.layer-event-add-user-list li .layer-query.already-add{
    background: url(../images/event/icon-add-event-1.png) no-repeat center center;
}

/****************
添加免费试用卡片
****************/
.layer-event-add-block-warp .Z-row{
    margin:10px 0;
}
.layer-event-add-block-warp .Z-w-115{
    width: 115px;
}
.layer-event-add-block-warp textarea{
    height: 80px;
    line-height: 18px;
}


/****************
添加关联产品
****************/
.layer-event-link-product-list li .product-pic{
    margin-right: 10px;
    height: 40px;
    width: 40px;
    overflow: hidden;
}
.layer-event-link-product-list li{
    height: 40px;
    overflow: hidden;
    margin: 15px 0;
    border-bottom: 1px #ebebeb solid;
    padding-bottom: 15px;
}
.layer-event-link-product-list li .product-pic img{
    width: 90px;
}
.layer-event-link-product-list{
    height: 330px;
    overflow: scroll;
}
.layer-event-link-product-list li .product-desc{

}

.layer-event-link-product-list li .product-desc a.blue{
    margin-right: 15px;
}

.apply-list-query span.Z-green{
    cursor: pointer;
}

/***************
报告评级
****************/
.gard label,
.gift label{
    margin-right: 25px;
}
.layui-layer-page .layui-layer-content .proposal{
    background: #f5f5f5;
    border: 1px solid #ececec;
    padding:10px;
}
.layui-layer-page .layui-layer-content .proposal textarea {
    outline: none;
    display: block;
    border: none;
    width: 100%;
    height: 60px;
}

.layui-layer-page .layui-layer-content .gift{
    display: inline-block;
    margin-top: 20px;
    position: relative;
    padding-top: 10px;
}
.layui-layer-page .layui-layer-content .gift:before,
.layui-layer-page .layui-layer-content .gift:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: #ebebeb;
    top:0;
    left: 0px;
}
.layui-layer-page .layui-layer-content .gift:after{

}
.layui-layer-page .layui-layer-content .gift:before{
    border: 1px solid #ebebeb;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 12px;
    height: 12px;
    background: #fff;
    left: 82px;
    top: -6px;
    z-index: 1;
    border-bottom: none;
    border-right: none;
}

.Z-remarks-warp{
    padding: 10px;
    background-color: #FAFAFA;
    border: 1px solid #e6e6e6;
    margin-left: 70px;
    border-radius: 5px;
}

.Z-remarks-warp textarea{
    background-color: transparent;
    display: inline-block;
    width: 100%;
    height: 60px;
    font-size: 14px;
}


