html,
body {
  background-color: #fff;
}
.main {
  margin-bottom: 20px;
}
.vt {
  vertical-align: top;
}
.vm {
  vertical-align: middle;
}
.vb {
  vertical-align: bottom;
}
.list-main {
  margin: 0px 20px 50px 20px;
}
.mt4 {
  margin-top: 4px;
}
.cF5A623 {
  color: #F5A623;
}
.red {
  color: #FF5B5B;
}
.sub-header-box.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 3;
}
.sub-header-box .sub-header {
  border-bottom: 1px solid #F2F2F2;
}
.sub-header-box .sub-header ul {
  font-size: 0;
  text-align: center;
  margin: 0 20px;
}
.sub-header-box .sub-header li {
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
  width: 33.333333%;
  position: relative;
}
.sub-header-box .sub-header li a {
  color: #808080;
  display: block;
  cursor: pointer;
}
.sub-header-box .sub-header li .line {
  display: none;
  height: 2px;
  background-color: #FF5B5B;
  width: 100%;
  left: 0;
  bottom: 0;
}
.sub-header-box .sub-header li.on a {
  color: #000;
}
.sub-header-box .sub-header li.on .line {
  display: block;
}
.sub-header-box .search-header {
  padding: 10px 0;
  border-bottom: 1px solid #F2F2F2;
}
.sub-header-box .search-header .search-inner {
  margin: 0 20px;
  color: #808080;
  position: relative;
}
.sub-header-box .search-header .search-inner label {
  margin-right: 10px;
}
.sub-header-box .search-header .search-inner input[type=text] {
  background-color: #F7F7F7;
  border: 1px solid #EDEDED;
  padding: 0 5px;
  width: 100px;
}
.sub-header-box .search-header .search-inner .refresh {
  background-color: #ff5b5b;
  border-radius: 3px;
  color: #595959;
  font-size: 14px;
  text-align: center;
  width: 100px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.sub-header-box .search-header .search-inner .refresh button[type] {
  cursor: pointer;
  background: transparent;
  height: 25px;
  color: #fff;
  width: 100%;
}
.table-view {
  font-size: 14px;
}
.table-view th {
  font-weight: 100;
  color: #808080;
  text-align: left;
}
.table-view th,
.table-view td {
  border-bottom: 1px solid #F2F2F2;
  padding: 10px 0px;
}
.table-view .list-query-bat {
  display: inline-block;
}
.table-view .list-query-bat ul {
  background-color: #FF5B5B;
  border-radius: 3px;
  font-size: 0;
  text-align: center;
}
.table-view .list-query-bat ul li {
  position: relative;
  width: 80px;
  display: inline-block;
  font-size: 14px;
}
.table-view .list-query-bat ul li a {
  color: #fff;
  display: block;
}
.table-view .list-query-bat ul li:after {
  width: 1px;
  height: 100%;
  background-color: #fff;
  right: 0;
  top: 0;
  display: block;
  content: '';
  position: absolute;
}
.table-view .list-query-bat ul li:last-child:after {
  display: none;
}
.table-view .query a {
  color: #30A7D1;
  margin-left: 10px;
}
.table-view .query a:first-child {
  margin-left: 0;
}
.table-view td {
  font-size: 12px;
}
.table-view td .scorce {
  color: #F5A623;
  text-indent: 30px;
}
.table-view td .desc {
  color: #595959;
  font-size: 12px;
  line-height: 18px;
}
.table-view td .brand {
  color: #B3B3B3;
  font-size: 12px;
}
.table-view td .images .item {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-right: 5px;
  overflow: hidden;
}
.table-view td .images .item img {
  width: 100%;
}
.table-view td .images .item:last-child {
  margin-right: 0;
}
.table-view.table-edit th {
  width: 70px;
  text-align: left;
  padding-right: 10px;
}
.table-view.table-edit input[type=text],
.table-view.table-edit textarea {
  background-color: #FAFAFA;
  border: 1px solid #F5F5F5;
  width: 100%;
  padding: 3px 5px;
  box-sizing: border-box;
}
.table-view.table-edit textarea {
  height: 60px;
}
.table-view.table-edit .face-box {
  line-height: 80px;
}
.table-view.table-edit .user-face {
  width: 80px;
  height: 80px;
  background-color: #FAFAFA;
  border: 1px solid #F5F5F5;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}
.table-view.table-edit .user-face img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.table-view.table-edit .user-face:after,
.table-view.table-edit .user-face:before {
  position: absolute;
  background-color: #CCCCCC;
  width: 2px;
  height: 30px;
  content: '';
  top: 50%;
  left: 50%;
  z-index: 0;
}
.table-view.table-edit .user-face:after {
  width: 30px;
  height: 2px;
  margin-top: -1px;
  margin-left: -15px;
}
.table-view.table-edit .user-face:before {
  margin-top: -15px;
  margin-left: -1px;
}
.ww {
  position: relative;
  height: 20px;
  width: 100px;
  cursor: pointer;
}
.ww .w1,
.ww .w2 {
  font-size: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 100px;
  overflow: hidden;
}
.ww .w1 span,
.ww .w2 span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  background-image: url(../images/wujiaoxing2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px auto;
}
.ww .w2 span {
  background-image: url(../images/wujiaoxing.svg);
}
.ww .w3 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
}
.user-info .user {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.user-info .user img {
  width: 100%;
}
.user-info .info {
  margin-left: 35px;
  line-height: 15px;
}
.user-info .info .name {
  color: #595959;
}
.user-info .info .time {
  color: #B3B3B3;
}
.list-page {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 3;
  height: 30px;
}
.list-page ul {
  font-size: 0;
}
.list-page li {
  background-color: #FAFAFA;
  border: 1px solid #E6E6E6;
  display: inline-block;
  font-size: 14px;
  margin: 0 5px;
  text-align: center;
}
.list-page li a {
  color: #595959;
  display: block;
  padding: 0px 5px;
  min-width: 20px;
}
.list-page li.selected {
  background-color: transparent;
  border: none;
}
.list-page li.selected a {
  color: #FF5B5B;
  cursor: default;
}
.comment-image-warp {
  vertical-align: middle;
  display: inline-block;
  font-size: 0;
}
.comment-image-warp .replay-img-item {
  font-size: 12px;
  width: 60px;
  height: 60px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px !important;
  overflow: hidden;
}
.comment-image-warp .replay-img-item:first-child {
  margin-left: 0px !important;
}
.comment-image-warp .replay-img-item img {
  width: 100%;
}
.comment-image-warp .replay-img-item .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: #fc6b6b;
  display: block;
  height: 16px;
  width: 16px;
  text-align: center;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}
.comment-image-warp .replay-img-item .close:hover {
  background: #f26161;
}
.uploadify {
  margin: 0 !important;
  overflow: hidden;
  vertical-align: middle !important;
  display: inline-block !important;
}
.uploadify .uploadify-button {
  box-sizing: border-box;
}
.query-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
}
.query-btn .Z-btn {
  height: 30px;
  line-height: 30px;
  width: 60px;
}
