* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
html.over,
body.over {
  height: 100%;
  overflow: hidden;
}
.layui-m-layercont {
  height: 100% !important;
}
.flex-box {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  height: 100%;
}
.apply-box {
  height: 100%;
}
.apply-box,
.apply-box * {
  box-sizing: border-box !important;
}
.apply-box .apply-nav {
  height: 52px;
  position: absolute;
  width: 100%;
}
.apply-box .apply-nav:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  position: absolute;
  left: 1px;
  bottom: 0px;
  transform: scaleY(0.5);
}
.apply-box .apply-nav .flex-box > * {
  flex: initial;
}
.apply-box .apply-nav .apply-back,
.apply-box .apply-nav .apply-close {
  width: 50px;
  height: 40px;
  background-image: url(../back.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 26px auto;
}
.apply-box .apply-nav .apply-close {
  background-image: url(../close.svg);
  background-size: 20px auto;
  position: relative;
}
.apply-box .apply-nav .apply-close:after {
  content: '';
  display: block;
  height: 24px;
  width: 1px;
  background-color: #E6E6E6;
  position: absolute;
  left: 1px;
  top: 50%;
  margin-top: -12px;
}
.apply-box .apply-body {
  height: 100%;
  box-sizing: border-box !important;
  overflow: hidden;
  padding-top: 52px;
}
.apply-box .apply-body.one-wrap .apply-step-logo-bg {
  margin-top: -40px;
  margin-bottom: 40px;
}
.apply-box .apply-body.one-wrap .apply-step-icon {
  margin: 20px auto 80px;
}
.apply-box .apply-inner {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
.apply-box .apply-inner.center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.apply-box .apply-step-logo .apply-step-logo-bg {
  width: 100px;
  height: 100px;
  background-image: url(../../images/awards_blue.png?scscs);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: auto;
}
.apply-box .apply-step-logo .apply-step-icon {
  height: 1px;
  background-color: #E0E0E0;
  width: 100px;
  position: relative;
  margin: 20px auto;
}
.apply-box .apply-step-logo .apply-step-icon:after,
.apply-box .apply-step-logo .apply-step-icon:before {
  content: '';
  display: block;
  position: absolute;
  left: -30px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-image: url(../../images/circle.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.apply-box .apply-step-logo .apply-step-icon:after {
  background-image: url(../../images/a_08.png);
  background-size: 10px auto !important;
  left: auto;
  right: -28px;
}
.apply-box .apply-step-logo .apply-step-icon.step2:before {
  background-image: url(../../images/images/b-1_03.png);
  background-size: 7px auto !important;
}
.apply-box .apply-step-logo .apply-step-icon.step2:after {
  background-image: url(../../images/circle.png);
  background-size: cover !important;
}
.apply-box .apply-step-tips {
  color: #315FF0;
  text-align: center;
  clear: both;
  margin: auto;
}
.apply-box .apply-step-item-box ul {
  padding: 0 25px;
}
.apply-box .apply-step-item-box li {
  background-color: #F2F5FF;
  color: #315FF0;
  font-size: 14px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  position: relative;
  margin: 15px 0;
}
.apply-box .apply-step-item-box li input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.01;
  left: 0;
  top: 0;
}
.apply-box .apply-step-item-box li input[type=radio] + i {
  font-style: normal;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  background-color: #315FF0;
  color: #fff;
  height: 100%;
}
.apply-box .apply-wrap {
  width: 100%;
  padding: 25px 12px;
}
.apply-box .base-table {
  width: 100%;
  padding: 0 5px;
}
.apply-box .base-table th {
  font-weight: 100;
  color: #315FF0;
  text-align: left;
  width: 85px;
  padding: 5px 0;
}
.apply-box .base-table td {
  padding: 5px 0;
  text-align: left;
}
.apply-box .base-table input[type=text],
.apply-box .base-table textarea {
  background-color: #F2F5FF;
  border: none;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.apply-box .base-table textarea {
  height: 60px;
  line-height: 18px;
}
.apply-box .base-table .item-input {
  position: relative;
}
.apply-box .base-table .item-input .tips {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -10px;
  font-size: 12px;
  height: 20px;
  background-image: url(../../images/images/error_03.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 16px auto;
  padding-left: 20px;
  color: #F76260;
  line-height: 20px;
  display: none;
}
.apply-box .base-table .item-input .tips.error {
  color: #F76260;
}
.apply-box .apply-submit,
.apply-box .btn {
  outline: none;
  border: none;
  background-color: #315FF0;
  color: #fff;
  font-size: 14px;
  width: 100%;
  height: 36px;
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 30px;
  line-height: 36px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
.apply-box .btn {
  margin-top: 70px;
}
.apply-box .apply-success-logo {
  width: 50px;
  height: 50px;
  background-image: url(../gou.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px auto;
}
.apply-box .apply-success-text {
  color: #315FF0;
  text-align: center;
}
.apply-box .apply-success-text .apply-success-tips {
  font-size: 18px;
}
.apply-box .apply-success-text .apply-success-desc {
  font-size: 12px;
}
