/**
 +----------------------------------------------------------
 // 全局变量
 +----------------------------------------------------------
 */
/**
 +----------------------------------------------------------
 // 全局混淆
 +----------------------------------------------------------
 */
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.zan-on {
  color: #e65041!important;
}
html,
body {
  height: 100%;
}
body {
  background-image: url(../images/show-app-center-bg-1.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom right;
}
@media screen and (min-width: 320px) and (max-width: 380px) {
  .main-body {
    margin: 20px;
  }
}
@media screen and (min-width: 381px) {
  .main-body {
    margin: 30px;
  }
}
.show-app-logo {
  width: 160px;
  margin: auto;
}
.show-app-logo img,
.show-app-bg img {
  width: 100%;
}
.show-app-bg {
  margin: 20px 12px 20px 12px;
}
.show-app-btn {
  color: #2d2d2d;
}
.download-btn {
  display: block;
  width: 220px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #e6e6e6;
  line-height: 45px;
  color: #F66039;
  background-color: #fff;
  box-shadow: 0 4px 20px #dcdcdc;
}
