/**
 +----------------------------------------------------------
 // 全局变量
 +----------------------------------------------------------
 */
/**
 +----------------------------------------------------------
 // 全局混淆
 +----------------------------------------------------------
 */
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.zan-on {
  color: #e65041!important;
}
html,
body {
  color: #808080;
  min-height: 100%;
}
.chat-main {
  padding: 0 12px;
}
.display-flxe {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.chat-main[data-chat-swiper] {
  background-color: #F2F2F2;
  position: relative;
}
.spinner > div {
  background-color: #e43020;
}
.img-viewer-warp {
  position: fixed;
  z-index: 2016;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.img-viewer-warp .img-viewer-close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 80px;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  z-index: 9;
}
.img-viewer-warp .img-viewer-close:before {
  content: '×';
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 20px;
}
.img-viewer-warp .img-viewer-inner {
  padding: 20px 0;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  justify-content: space-between;
  -webkit-box-pack: center;
}
.img-viewer-warp .viewer-title {
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  text-align: center;
  overflow: hidden;
}
.img-viewer-warp .viewer-box {
  text-align: center;
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
  transition-duration: 260ms;
  transition-property: all;
  width: 100%;
  height: 100%;
}
.img-viewer-warp .viewer-box ul {
  width: 100%;
}
.img-viewer-warp .viewer-box ul li {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.img-viewer-warp .viewer-box ul li .item {
  padding: 0 12px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.img-viewer-warp .viewer-box ul li.curr {
  left: 0;
  z-index: 3;
  display: block;
}
.img-viewer-warp .viewer-box ul li.prev {
  left: -100%;
  display: block;
}
.img-viewer-warp .viewer-box ul li.next {
  left: 100%;
  display: block;
}
.img-viewer-warp .viewer-box img {
  max-width: 100%;
  max-height: 100%;
}
.chat-header-icon {
  position: fixed;
  top: 0;
  z-index: 9;
  padding: 15px;
}
.chat-header-icon.chat-header-left {
  right: 0;
}
.chat-header-icon.chat-header-right {
  left: 0;
}
.chat-header {
  background-color: #ffffff;
  height: 50px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  transform: translate3d(0, 0, 0);
  transition-duration: 0ms;
  transition-property: transform;
}
.chat-header .svg-icon {
  padding: 15px 12px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  text-align: center;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.chat-header .svg-icon a {
  display: block;
}
.chat-header .chat-header-title {
  text-align: center;
  font-size: 16px;
  color: #333333;
  font-weight: 100;
  line-height: 50px;
  width: 100%;
  position: relative;
  text-indent: 10px;
  overflow: hidden;
  padding: 0 40px;
  box-sizing: border-box;
}
.chat-header .chat-header-query {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.chat-header .chat-header-query .svg-icon {
  left: auto;
  right: 0;
}
.chat-header-cover {
  margin-top: 50px;
}
.chat-header-cover img {
  width: 100%;
}
.chat-title-warp .title {
  color: #000;
  font-size: 16px;
}
.chat-title-warp .chat-count {
  color: #B3B3B3;
  font-size: 12px;
  margin: 10px 0;
}
.chat-title-warp .chat-count .line {
  position: relative;
  padding-right: 5px;
  margin-right: 5px;
}
.chat-title-warp .chat-count .line:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px;
  height: 10px;
  width: 1px;
  background-color: #B3B3B3;
}
.chat-description {
  color: #808080;
  font-size: 14px;
  line-height: 22px;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
[data-chat-swiper] {
  margin-bottom: 50px;
}
.chat-query-header {
  height: 50px;
  position: relative;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #fff;
  z-index: 2;
}
.chat-query-header .query-box ul {
  text-align: center;
}
.chat-query-header .query-box li {
  min-width: 65px;
  display: inline-block;
}
.chat-query-header .query-box li a {
  display: block;
  color: #7E7E7E;
}
.chat-query-header .query-box li span {
  line-height: 48px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  font-size: 14px;
}
.chat-query-header .query-box li.on a {
  color: #000000;
}
.chat-query-header .query-box li.on span {
  border-bottom-color: #D50934;
}
.chat-query-header .query-box .chat-select-item {
  height: 40px;
  background-color: #F2F2F2;
  position: relative;
}
.chat-query-header .query-box .chat-select-item .chat-select-box {
  margin: 0 12px;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
}
.chat-query-header .query-box .chat-select-item .chat-select-box.on {
  overflow: visible;
  height: auto;
  line-height: 20px;
  z-index: 3;
  margin: 0;
}
.chat-query-header .query-box .chat-select-item .chat-select-box.on .change-tag {
  position: absolute;
  left: 12px;
  top: 9px;
  font-size: 14px;
  display: block !important;
}
.chat-query-header .query-box .chat-select-item .chat-select-box.on .open-all {
  box-shadow: none;
  top: 11px;
  right: 12px;
  margin-top: 0;
}
.chat-query-header .query-box .chat-select-item .chat-select-box.on .open-all:after {
  top: 0px;
  border-color: transparent;
  border-bottom-color: #676767;
}
.chat-query-header .query-box .chat-select-item .chat-select-box.on ul {
  overflow: visible;
  height: auto;
  white-space: normal;
  text-align: left;
  position: absolute;
  top: 40px;
  background: #fff;
  border-top: 1px solid #e6e6ee;
  margin-right: 0;
  width: 100%;
}
.chat-query-header .query-box .chat-select-item .chat-select-box.on ul:before {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #e6e6ee;
}
.chat-query-header .query-box .chat-select-item .chat-select-box.on ul li {
  border-bottom: 1px solid #e6e6ee;
  border-right: 1px solid #e6e6ee;
  line-height: 30px;
  width: 33.33%;
  margin: 0;
  font-size: 14px;
}
.chat-query-header .query-box .chat-select-item .chat-select-box.on ul li:nth-child(3n+3) {
  border-right: none;
}
.chat-query-header .query-box .chat-select-item .chat-select-box.on ul li.on a {
  border-bottom: 2px solid #E43020;
  padding: 2px 6px 0 6px;
}
.chat-query-header .query-box .chat-select-item .chat-select-box.on ul li a {
  border: none;
  display: block;
  border-radius: 0;
}
.chat-query-header .query-box .chat-select-item ul {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 0;
  white-space: nowrap;
  height: 60px;
  margin-right: 35px;
}
.chat-query-header .query-box .chat-select-item li {
  position: relative;
  display: inline-block;
  font-size: 12px;
  margin-right: 8px;
  text-align: center;
  width: auto;
}
.chat-query-header .query-box .chat-select-item li a {
  border: 1px solid #E0E0E0;
  background-color: #fff;
  padding: 4px 7px;
  border-radius: 3px;
  display: inline;
}
.chat-query-header .query-box .chat-select-item li.on a {
  color: #E43020;
  border: 1px solid #E43020;
}
.chat-query-header .query-box .chat-select-item li:last-child {
  margin-right: 0 !important;
}
.chat-query-header .query-box .chat-select-item .open-all {
  border: 1px solid #DCDCDC;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 22px;
  height: 22px;
  z-index: 1;
  margin-top: -11px;
  box-shadow: 3px 0 5px 15px rgba(242, 242, 242, 0.97);
}
.chat-query-header .query-box .chat-select-item .open-all:after {
  content: '';
  display: block;
  top: 8px;
  left: 4px;
  border-width: 6px;
  border-color: transparent;
  border-top-color: #676767;
  position: ABSOLUTE;
  border-style: solid;
}
.chat-query-header.fixed {
  position: fixed !important;
}
.touch-change-warp {
  font-size: 0;
  transform: translate3d(0, 0px, 0px) translateZ(0px);
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
  transition-duration: 0.3s;
  transition-property: transform;
}
.touch-change-warp .window-main {
  display: inline-block;
  vertical-align: top;
}
.touch-change-warp .window-main iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
.chat-comment li {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 16px 12px;
  position: relative;
  overflow: hidden;
}
.chat-comment li .placed-top-icon {
  position: absolute;
  right: -14px;
  top: -12px;
  overflow: hidden;
  height: 55px;
  width: 55px;
}
.chat-comment li .placed-top-icon svg {
  width: 60px;
}
.chat-comment .username {
  color: #0988DF;
  font-size: 14px;
}
.chat-comment .usernike {
  color: #808080;
  font-size: 12px;
  background-color: #F2F2F2;
  border-radius: 3px;
  padding: 2px 5px;
  margin-left: 5px;
}
.chat-comment .time {
  color: #B3B3B3;
  font-size: 12px;
}
.chat-comment .uptop {
  border: 1px solid #E43020;
  color: #E43020;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1px 4px;
  font-size: 12px;
  border-radius: 3px;
}
.chat-comment .userinfo {
  margin-bottom: 15px;
}
.chat-comment .userinfo .face {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
}
.chat-comment .userinfo .face img {
  width: 100%;
}
.chat-comment .userinfo .info {
  margin-left: 45px;
}
.chat-comment .user-comment {
  margin: 10px 0 8px 0;
  line-height: 20px;
  font-size: 14px;
}
.chat-comment .content-comment-replay {
  padding: 10px;
  font-size: 14px;
  background-color: #F2F2F2;
  line-height: 22px;
  word-break: break-all;
}
.chat-comment .content-comment-replay .reply_username {
  color: #0988DF;
}
.chat-comment .img-box {
  width: 33.333333%;
  margin-right: 1%;
}
.chat-comment .img-box:last-child {
  margin-right: 0;
}
.chat-comment .img-box img {
  width: 100%;
}
.chat-comment .content-common {
  word-break: break-all;
}
.chat-comment .content-common,
.chat-comment .content-common:first-child {
  margin-bottom: 10px;
}
.chat-comment .content-common:last-child {
  margin-bottom: 0px;
}
.chat-comment-input-warp {
  height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: #fff;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0 12px;
}
.chat-comment-input-warp .input-box {
  border: 1px solid #DADADA;
  border-radius: 25px;
  background-color: #F7F7F7;
  text-align: center;
  padding: 8px 0;
  width: 100%;
}
.heart-list {
  position: absolute;
  height: 100%;
  overflow: hidden;
}
.heart-list .chat-query-header {
  margin-top: 50px;
}
.heart-list .heart-body-list {
  background-color: #F0F0F0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}
.heart-list .chat-comment-input-warp .flex-box {
  width: 100%;
}
.heart-list .chat-comment-input-warp .flex-box > * {
  flex: initial;
}
.heart-list .chat-comment-input-warp .flex-box .upload-img-btn {
  padding: 10px 5px 0 15px;
  position: relative;
}
.heart-list .chat-comment-input-warp .flex-box .upload-img-btn input[type=file] {
  opacity: 0.01;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.heart-list .heart-list-warp {
  padding: 12px;
  font-size: 14px;
  width: 100%;
  position: absolute;
  /* Prevent elements to be highlighted on tap */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* Put the scroller into the HW Compositing layer right from the start */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.heart-list .heart-list-warp .face {
  width: 26px;
  height: 26px;
  overflow: hidden;
  border-radius: 50%;
}
.heart-list .heart-list-warp .face img {
  width: 100%;
}
.heart-list .heart-list-warp .desc-box {
  margin: 0 35px;
}
.heart-list .heart-list-warp .desc-box .name {
  color: #0988DF;
}
.heart-list .heart-list-warp .desc-box .tag {
  color: #808080;
  font-size: 12px;
  background-color: #E6E6E6;
  border-radius: 3px;
  padding: 2px 5px;
}
.heart-list .heart-list-warp .desc-box .time {
  color: #B3B3B3;
  font-size: 12px;
  margin-top: 5px;
}
.heart-list .heart-list-warp .desc-box .time .scale {
  transform: scaleX(0.8) scaleY(0.8) scaleZ(0.8);
  display: block;
  float: left;
}
.heart-list .heart-list-warp .desc-box .content {
  color: #808080;
  box-shadow: 0 0 1px 0 #DFDFDF;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  line-height: 22px;
  margin: 5px 0;
  display: inline-block;
}
.heart-list .heart-list-warp .desc-box .content .content-common {
  margin-bottom: 10px;
}
.heart-list .heart-list-warp .desc-box .content .content-common:last-child {
  margin-bottom: 0px;
}
.heart-list .heart-list-warp .desc-box .content .content-img {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.heart-list .heart-list-warp .desc-box .content .content-img .content-img-item {
  margin-right: 5px;
  position: relative;
}
.heart-list .heart-list-warp .desc-box .content .content-img .content-img-item:last-child {
  margin-right: 0;
}
.heart-list .heart-list-warp .desc-box .content .content-img .content-img-item .img-upload-loading {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 1;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
  left: 50%;
}
.heart-list .heart-list-warp .desc-box .content.max-width {
  width: 100%;
}
.heart-list .heart-list-warp .desc-box .content img {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.heart-list .heart-list-warp li {
  margin-bottom: 25px;
}
.heart-list .heart-list-warp li:last-child {
  margin-bottom: 0px;
}
.heart-list .heart-list-warp li.admin .face {
  float: left;
}
.heart-list .heart-list-warp li.user .face {
  float: right;
}
.heart-list .heart-list-warp li.user .desc-box {
  text-align: right;
}
.heart-list .heart-list-warp li.user .time .scale {
  float: right;
}
.heart-list .heart-list-warp li.user .content {
  text-align: left;
}
.card .card-inner {
  background-color: #F0F0F0;
  position: relative;
}
.card .card-inner .flage {
  background: #e32f1e;
  color: #fff;
  font-size: 12px;
  text-align: center;
  position: absolute;
  left: -6px;
  line-height: 16px;
  height: 16px;
  width: 34px;
}
.card .card-inner .flage:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: -6px;
  left: 0;
  border-color: #a81005;
  border-style: solid;
  border-width: 3px;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.card .card-inner .card-img {
  width: 100px;
  height: 100px;
  float: left;
}
.card .card-inner .card-img img {
  width: 100px;
  height: 100px;
}
.card .card-inner .card-desc {
  height: 100px;
  margin-left: 100px;
  position: relative;
  padding: 10px;
}
.card .card-inner .card-desc .card-desc-inner {
  height: 100%;
}
.card .card-inner .card-desc .card-title {
  color: #808080;
  font-size: 14px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.card .card-inner .card-desc .card-query {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card .card-inner .card-desc .card-query .card-price {
  margin-bottom: 2px;
}
.card .card-inner .card-desc .card-laiyuan,
.card .card-inner .card-desc .kill-timer {
  color: #B3B3B3;
}
.card .card-inner .card-desc .kill-timer {
  position: absolute;
  right: 60px;
  bottom: 0;
}
.card .card-inner .card-desc .kill-timer .kill-timer-number {
  background: #666666;
  color: #fff;
  border-radius: 2px;
  padding: 2px;
}
.card .card-inner .card-desc .card-buy {
  color: #ffffff;
  font-size: 13px;
  background-color: #E43020;
  border-radius: 3px;
  float: right;
  padding: 3px 8px;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 55px;
  text-align: center;
}
.card .card-inner .card-desc .card-buy.btn-red {
  background: #b8b8b8;
}
.card .card-inner .card-desc .card-buy.btn-red.on {
  background-color: #E43020;
}
.heart-input {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  opacity: 0;
  z-index: 9;
  transform: translate3d(0, 50px, 0px) translateZ(0px);
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
  transition-duration: 0.3s;
  transition-property: all;
}
.heart-input.show {
  transform: translate3d(0, 0px, 0px) translateZ(0px);
  opacity: 1;
}
.heart-input form {
  height: 100%;
}
.heart-input .heart-input-box {
  background-color: #FAFAFA;
  box-shadow: 0 -2px 4px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 100%;
}
.heart-input .heart-input-box input[type=submit] {
  position: absolute;
  left: -999999px;
}
.heart-input .heart-input-box .text {
  background-color: transparent;
  height: 50px;
  width: 100%;
  border: none;
  padding: 12px;
  resize: none;
  font-size: 16px;
  color: #545454;
}
.card-kill .card-kill-inner {
  position: relative;
}
.card-kill .card-kill-inner .card-kill-tag {
  color: #FDF9C4;
  background-color: #E43020;
  border-radius: 3px;
  padding: 2px 5px;
  position: absolute;
  left: 5px;
  top: 8px;
  z-index: 1;
  font-size: 12px;
  transform: scaleX(0.8) scaleY(0.8);
  float: left;
}
.card-kill .card-kill-inner .card-img {
  position: relative;
}
.card-kill .card-kill-inner .card-img img {
  width: 100%;
}
.card-kill .card-kill-inner .card-img .card-kill-img-desc {
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  color: #CCCCCC;
  padding: 5px 12px;
}
.card-kill .card-kill-inner .card-img .card-kill-img-desc .kill-timer-number {
  font-size: 14px;
  color: #fff;
  background-color: #424242;
  display: inline-block;
  width: 20px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  margin: 0 3px;
}
.card-kill .card-kill-inner .card-img .card-kill-img-desc .kill-timer-number:first-child {
  margin-left: 0;
}
.card-kill .card-kill-inner .card-img .card-kill-img-desc .kill-timer-number.millisecond {
  background-color: #E43020;
}
.card-kill .card-kill-inner .card-desc {
  border: 1px solid #EDEDED;
  border-top: none;
  padding: 12px;
}
.card-kill .card-kill-inner .card-desc .card-title {
  font-size: 14px;
  color: #808080;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
}
.card-kill .card-kill-inner .card-desc .card-query .card-price {
  margin: 10px 0 5px 0;
}
.card-kill .card-kill-inner .card-desc .card-query .card-btn {
  font-size: 12px;
}
.card-kill .card-kill-inner .card-desc .card-query .card-laiyuan {
  color: #B3B3B3;
}
.card-kill .card-kill-inner .card-desc .card-query .card-buy {
  background-color: #B3B3B3;
  color: #fff;
  border-radius: 3px;
  padding: 2px 5px;
  float: right;
}
.card-kill .card-kill-inner .card-desc .card-query .card-buy.on {
  background-color: #E43020;
}
.show-app-down-warp {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  z-index: 2;
}
.show-app-down-warp .show-app-right-float {
  position: fixed;
  right: 12px;
  bottom: 60px;
  z-index: 9;
}
.show-app-down-warp .show-app-right-logo {
  width: 80px;
}
.show-app-down-warp .show-app-right-logo img {
  width: 100%;
}
.show-app-down-warp .show-app-logo {
  width: 50px;
}
.show-app-down-warp .show-app-down-btn-warp {
  width: 120px;
}
.show-app-down-warp .show-app-down-btn-warp .btn {
  background: #FF5B5B;
  line-height: 28px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
}
.show-app-down-warp .show-app-down {
  padding: 0px 12px;
  display: flex;
}
.show-app-down-warp .show-app-down .show-app-logo svg {
  height: 36px;
  vertical-align: middle;
}
.show-app-down-warp .desc {
  color: #ffffff;
  font-size: 14px;
  margin-left: 8px;
  width: 100%;
  text-align: left;
}
.chat-update-warp {
  position: relative;
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
  transform: translate3d(0, 0, 0);
  transition-duration: 1s;
  transition-property: transform;
  z-index: 2;
}
.chat-update-warp .chat-refresh {
  position: absolute;
  font-size: 12px;
  width: 100%;
  height: 40px;
  top: -40px;
  line-height: 40px;
  text-align: center;
  background: #FFE4B2;
  color: #BC7001;
}
#scroller-pullDown,
#scroller-pullUp {
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: 12px;
  color: #aaaaaa;
  text-align: center;
  position: absolute;
  left: 0px;
  width: 100%;
}
#scroller-pullDown {
  top: -40px;
}
#scroller-pullUp {
  bottom: -40px;
}
#scroller-pullDown .pull-up-msg,
#scroller-pullUp .pull-down-msg {
  padding-left: 20px;
}
#scroller-pullDown .pull-down-icon,
#scroller-pullUp .pull-up-icon {
  display: inline-block;
  color: #f00;
  font-size: 14px;
  -webkit-transform: rotate(-90deg);
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 260ms;
}
#scroller-pullDown .pull-down-icon.reverse_icon,
#scroller-pullUp .pull-up-icon.reverse_icon {
  -webkit-transform: rotate(-270deg);
}
