.event-notice {
  margin: 12px 0;
  padding: 12px;
  background-color: #fff2ca;
  color: #d3ae50;
  line-height: 20px;
  font-size: 12px;
}
.main-container {
  background: #fff;
  z-index: 3;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}
.main-container .no-data {
  background-color: #fff !important;
}
.main-container .large {
  padding: 12px 0;
}
.header-info {
  overflow: hidden;
  position: relative;
}
.focus {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.focus .banner-item {
  position: relative;
}
.focus .bd img {
  width: 100%;
  vertical-align: middle;
}
.focus .hd {
  width: 100%;
  position: absolute;
  bottom: 8px;
  z-index: 1;
  text-align: center;
}
.focus .hd li {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #ccc;
  display: inline-block;
  text-indent: -99em;
  margin: 0 2px;
  font-size: 0;
}
.focus .hd li.on {
  background-color: #ff4000;
}
.focus .hd a {
  overflow: hidden;
}
.info {
  text-align: center;
  line-height: 30px;
  padding: 10px 5px;
  border-bottom: 1px solid #d3d3d6;
  background: #fff;
}
.info h3 {
  font-size: 25px;
  padding-bottom: 5px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info p {
  color: #a3a3a3;
  padding: 0 12px;
  line-height: 20px;
  text-align: center;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.control-row li {
  height: 56px;
  text-align: center;
}
.control-row li a {
  display: inline-block;
  padding: 8px 0;
  line-height: 20px;
}
.control-row li a .s-all {
  display: block;
  color: #fe5341;
  font-size: 20px;
}
.control-row li a .d-all {
  color: #a3a3a3;
  display: block;
  font-style: normal;
  font-size: 15px;
}
.conTxt {
  padding: 12px;
  background: #f1f1f1;
}
.conTxt h2 {
  font-size: 20px;
  font-weight: 700;
  color: #474747;
  padding: 9px 0;
}
.conTxt p {
  margin: 10px 0;
  line-height: 25px;
}
.conTxt p img {
  width: 100%;
  vertical-align: middle;
}
.artical {
  padding-bottom: 0;
  background-color: #fff;
}
.artical .title {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 700;
  color: #474747;
  border-bottom: 2px solid #fe5143;
}
.artical ul li {
  margin-top: 10px;
}
.article-box .error {
  padding: 10px;
  color: #fe5143;
}
.look-more-artical {
  padding: 10px 0;
  text-align: center;
  color: #fe5341;
  cursor: pointer;
}
.meta-item {
  margin: 10px 0;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  color: #474747;
}
.meta-inner {
  padding: 12px;
}
.meta-name {
  font-size: 20px;
  font-weight: 700;
}
.meta-num {
  font-size: 14px;
}
.meta-money {
  float: right;
  font-size: 20px;
}
.meta-money.red {
  color: #fe5341;
}
.meta-money.green {
  color: #82c06e;
}
.meta-content {
  padding: 5px 0;
  color: #a3a3a3;
  line-height: 25px;
}
.meta-time {
  text-align: center;
  color: #595959;
  font-size: 14px;
}
.meta-time span {
  color: #fe5341;
}
.meta-btn {
  margin: 10px auto 0 auto;
  text-align: center;
}
.meta-btn a {
  display: inline-block;
  min-width: 106px;
  height: 34px;
  padding: 0 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  border: 1px solid #595959;
}
.meta-btn a.red {
  border: 1px solid #fe5341;
  color: #fe5341;
}
.meta-btn a.green {
  border: 1px solid #82c06e;
  color: #82c06e;
}
.meta-btn a.gray {
  border: 1px solid #a0a0a0;
  color: #a3a3a3;
}
.group-box {
  padding: 20px 0;
  text-align: center;
}
.group-box img {
  width: 110px;
}
.group-box p {
  padding: 0 12px;
  margin-top: 10px;
  color: #333;
  font-size: 14px;
}
.know-close {
  padding: 15px 0;
  border-top: 1px solid #d8d8d8;
  color: #fe5341;
  text-align: center;
  cursor: pointer;
}
.notice {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
  text-align: center;
  color: #474747;
  border-top: 1px solid #e3e3e3;
}
.notice a {
  display: block;
}
.meta-filter {
  height: 160px;
  margin-top: 10px;
  background: url("../images/mingdan-check-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.meta-filter img {
  width: 45px;
}
.meta-filter p {
  line-height: 50px;
  color: #fff;
  font-size: 14px;
}
.publish-item {
  float: left;
  width: 50%;
  padding: 5px 0;
}
.publish-item img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  float: left;
}
.publish-desc {
  margin-left: 55px;
}
.publish-name {
  height: 20px;
  line-height: 20px;
  color: #b7b7b7;
  overflow: hidden;
}
.designation {
  display: inline-block;
}
.apply-box li {
  margin-top: 0;
  overflow: hidden;
  border-bottom: 1px solid #dee2e7;
}
.apply-box li .avatar {
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 3px;
  border-radius: 30px;
  display: inline-block;
  background-size: 100%;
  padding: 0;
}
.apply-box li .desc {
  margin-left: 34px;
  font-size: 16px;
  line-height: 1.7;
  color: #535353;
  padding: 5px 14px 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}
.apply-box li .desc .name {
  font-size: 14px;
  color: #4f81bd;
}
.apply-box li .desc .name .time {
  float: right;
  color: #a3a3a3;
}
.apply-box li .desc .ugc {
  position: relative;
  min-height: 25px;
  word-break: break-all;
  font-size: 14px;
  margin-top: 5px;
  color: #3e3e3e;
}
.apply-box li .desc .ugc span {
  position: absolute;
}
.apply-box li .desc .look-more {
  color: #4f81bd;
  font-size: 13px;
}
.apply-box li .desc .show-from {
  font-size: 12px;
  color: #a3a3a3;
}
.apply-box .open-btn {
  color: #4f81bd;
  font-size: 13px;
}
.copyright {
  height: 52px;
  line-height: 52px;
  text-align: center;
  font-size: 16px;
  color: #b9b9b9;
  background: #f2f3f8;
}
.event-opera {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  border-top: 1px solid #e3e3e3;
  z-index: 10;
}
.event-opera li {
  text-align: center;
  cursor: pointer;
}
.event-opera li:first-child {
  position: relative;
}
.event-opera li:first-child:after {
  content: '';
  position: absolute;
  right: 0;
  top: 15px;
  width: 1px;
  height: 20px;
  background-color: #e3e3e3;
}
.event-opera .apply-btn {
  display: block;
  color: #fff;
}
.event-opera .apply-btn.bgred {
  background-color: #fe5341;
}
.event-opera .apply-btn.bggray {
  background-color: #a3a3a3;
}
.active-apply-tips-box {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0 12px;
  line-height: 50px;
  background-color: #ffffd6;
  font-size: 14px;
  color: #5f5f5f;
}
.active-apply-tips-box a {
  display: block;
}
.active-apply-tips-box .tips-btn {
  position: absolute;
  top: 11px;
  right: 20px;
  height: 28px;
  line-height: 26px;
  padding: 0 7px;
  border: 1px solid #fe5341;
  border-radius: 5px;
  color: #fe5341;
}
.active-apply-tips-box .close {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 17px;
  cursor: pointer;
}
.event-card {
  padding: 12px;
  border-radius: 3px;
  background-color: #fff;
}
.event-card .pic {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 3px;
}
.event-card .des {
  position: relative;
  margin-left: 100px;
  padding-left: 12px;
  height: 100px;
}
.event-card .title {
  height: 40px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
  color: #404040;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event-card .price span {
  color: #333;
  font-size: 12px;
}
.event-card .num {
  position: absolute;
  bottom: 0;
  color: #b3b3b3;
  font-size: 12px;
}
.apply-wrapper {
  min-height: 100%;
  margin-top: 10px;
  background: #fff;
}
.apply-wrapper li {
  float: left;
  min-width: 75px;
  height: 30px;
  margin: 5px 10px 5px 0;
  padding: 0 10px;
  line-height: 30px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  color: #4c4c4c;
  cursor: pointer;
  text-align: center;
}
.apply-wrapper li.on {
  background-color: #fe5341;
  color: #fff;
}
.apply-wrapper li.no {
  color: #ccc;
  border: 1px dotted #ccc;
}
.apply-wrapper .info-box {
  padding: 0 12px;
}
.apply-wrapper .textarea,
.apply-wrapper .input-phone,
.apply-wrapper .input-name {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
}
.apply-box {
  padding: 12px;
}
.apply-box h3 {
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}
.apply-box .remarks {
  display: block;
  margin-top: 5px;
  color: #a3a3a3;
}
.submitBtn {
  width: 100%;
  height: 45px;
  margin: 20px 0;
  line-height: 45px;
  border-radius: 5px;
  cursor: pointer;
}
.apply-success {
  margin-top: 52px;
  padding: 12px;
  background-color: #fff;
  text-align: center;
}
.apply-success-icon img {
  height: 66px;
  margin: 10px 0;
}
.apply-success-tips strong {
  display: block;
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}
.apply-success-tips p {
  font-size: 12px;
  line-height: 20px;
  color: #b3b3b3;
}
.recommend-title {
  position: relative;
  padding: 12px;
  margin-left: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}
.recommend-title:before {
  content: '';
  position: absolute;
  left: 0;
  top: 12px;
  width: 3px;
  height: 25px;
  background-color: #fe5341;
  vertical-align: middle;
}
.introduce-pic {
  position: relative;
  height: 180px;
  margin-top: 52px;
  overflow: hidden;
}
.filter-blur img {
  width: 100%;
}
.introduce-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  color: #fff;
  font-size: 22px;
  text-align: center;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
}
.introduce-content {
  padding: 12px;
}
.introduce-content .introduce-title {
  padding: 10px 0;
  font-size: 20px;
}
.introduce-content p {
  line-height: 25px;
}
.introduce-btn a {
  display: block;
  width: 100%;
  height: 45px;
  margin: 20px 0;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
}
.introduce-btn a.red {
  background-color: #fe5341;
}
.introduce-btn a.green {
  background-color: #82c06e;
}
.event-desc {
  position: relative;
  overflow: hidden;
}
.read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(242, 242, 242, 0.84), #f2f2f2);
  background: -webkit-linear-gradient(top, rgba(242, 242, 242, 0.84), #f2f2f2);
  background: -o-linear-gradient(top, rgba(242, 242, 242, 0.84), #f2f2f2);
}
