.bg-white {
  background-color: #f2f2f2!important;
}
.wrapper {
  margin-top: 62px;
}
.list li {
  margin: 10px 12px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ebebeb;
}
.list li:last-child {
  margin-bottom: 0;
}
.list li .list-item {
  display: block;
  height: 80px;
  padding: 10px 12px;
  color: #808080;
  border-bottom: 1px solid #ededed;
  box-sizing: content-box;
}
.list li .list-item img {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.list li .list-item .text {
  position: relative;
  margin-left: 100px;
  height: 80px;
}
.list li .list-item .title {
  height: 40px;
  line-height: 20px;
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.list li .list-item .meta {
  position: relative;
}
.list li .list-item .meta .meta-name {
  font-size: 12px;
  padding-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list li .list-item .meta .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.list li .list-item .meta .icon-arrow:before {
  background-position: -25px -154px;
  width: 16px;
  height: 16px;
}
.list li .list-item .apply_num {
  position: absolute;
  bottom: 0;
  font-size: 12px;
}
.list li .opera {
  padding: 0 12px;
}
.list li .opera .show {
  padding: 11px 0;
  font-size: 12px;
  color: #333;
}
.list li .opera .show .status {
  font-weight: 700;
}
.list li .opera .show .remarks {
  color: #b3b3b3;
}
.list li .opera .opera-btn {
  line-height: 50px;
}
.list li .opera .opera-btn a {
  display: inline-block;
  min-width: 45px;
  height: 25px;
  padding: 0 5px;
  line-height: 25px;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  color: #333;
  border: 1px solid #d9d9d9;
}
.list li .opera .opera-btn .bc-red {
  background-color: #e93838;
  color: #fff;
  border: 1px solid #e93838;
}
.list li .opera .opera-btn .c-red {
  background-color: #fff;
  color: #e93838;
  border: 1px solid #e93838;
}
.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.gopc {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40%;
  margin-top: -140px;
  width: 80%;
  background-color: #fff;
  border-radius: 3px;
}
.gopc .mask-content {
  padding: 20px 0;
}
.gopc .mask-content div {
  padding: 0 25px;
  text-align: center;
  line-height: 20px;
}
.gopc .mask-content img {
  width: 110px;
}
.gopc .mask-content p {
  color: #333;
  font-size: 14px;
}
.gopc .know {
  padding: 15px 0;
  border-top: 1px solid #d8d8d8;
  color: #e93838;
  text-align: center;
  cursor: pointer;
}
