@-webkit-keyframes cancel-order-cause-show {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes cancel-order-cause-show {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-webkit-keyframes cancel-order-mask-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cancel-order-mask-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cancel-order-cause-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  color: #333333;
}
.cancel-order-cause-wrap .cancel-order-cause-mask {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: cancel-order-mask-show 0.3s forwards;
  animation: cancel-order-mask-show 0.3s forwards;
}
.cancel-order-cause-wrap .cancel-order-cause-inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: cancel-order-cause-show 0.3s forwards;
  animation: cancel-order-cause-show 0.3s forwards;
}
.cancel-order-cause-wrap .cancel-order-cause-box {
  position: relative;
  overflow: hidden;
}
.cancel-order-cause-wrap .close {
  width: 13.88888889px;
  height: 13.88888889px;
  position: absolute;
  right: 0;
  top: 0;
}
.cancel-order-cause-wrap .close .image {
  display: block;
  width: 100%;
  height: 100%;
}
.cancel-order-cause-wrap .cancel-order-header {
  font-size: 13.88888889px;
  font-weight: 600;
  text-align: center;
  margin-top: 10.41666667px;
}
.cancel-order-cause-wrap .cancel-order-body {
  overflow: hidden;
  margin-top: 13.88888889px;
}
.cancel-order-cause-wrap .sub-title-wrap {
  font-size: 12.5px;
  line-height: 17.36111111px;
  overflow: hidden;
}
.cancel-order-cause-wrap .sub-title-wrap .sub-title {
  font-weight: 600;
}
.cancel-order-cause-wrap .sub-title-wrap .sub-desc {
  margin-top: 6.94444444px;
}
.cancel-order-cause-wrap .line {
  margin: 11.80555556px 0;
  height: 1px;
  background: #E3E3E3;
}
.cancel-order-cause-wrap .select-cause {
  padding: 0 6.94444444px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 600;
}
.cancel-order-cause-wrap .select-cause-wrap {
  font-weight: normal;
  color: #666;
  margin-top: 17.36111111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cancel-order-cause-wrap .select-cause-wrap .select-cause-wrap-left,
.cancel-order-cause-wrap .select-cause-wrap .select-cause-wrap-right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cancel-order-cause-wrap .select-cause-wrap .select-cause-wrap-inner {
  display: inline-block;
}
.cancel-order-cause-wrap .select-cause-wrap .select-cause-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 9.89583333px 3.47222222px;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cancel-order-cause-wrap .select-cause-wrap .select-cause-item.select .image.select {
  display: block;
}
.cancel-order-cause-wrap .select-cause-wrap .select-cause-item.select .image.no-select {
  display: none;
}
.cancel-order-cause-wrap .select-cause-wrap .select-cause-item.select .select-cause-text {
  color: #333;
}
.cancel-order-cause-wrap .select-cause-wrap .select-cause-item .select-cause-icon {
  width: 14.58333333px;
  height: 14.58333333px;
  overflow: hidden;
}
.cancel-order-cause-wrap .select-cause-wrap .select-cause-item .select-cause-icon .image {
  display: block;
  width: 100%;
  height: 100%;
}
.cancel-order-cause-wrap .select-cause-wrap .select-cause-item .select-cause-icon .select {
  display: none;
}
.cancel-order-cause-wrap .select-cause-wrap .select-cause-item .select-cause-text {
  margin-left: 8.33333333px;
}
.cancel-order-cause-wrap .submit-wrap .submit-btn {
  margin: 10.41666667px auto;
  margin-top: 17.36111111px;
  width: 208.33333333px;
  height: 38.19444444px;
  font-size: 13.88888889px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  background: #F66039;
}
.cancel-order-cause-wrap .submit-wrap .submit-btn.red {
  background: #F66039;
}
.cancel-order-cause-wrap .submit-wrap .submit-btn.gary {
  background: #D8D8D8;
}
.change-order {
  position: absolute;
  top: 13px;
  right: 12px;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  color: #333;
  text-align: center;
}
.order-product {
  height: 125px;
  padding: 12px;
  padding-bottom: 0;
  margin: 10px 0;
  margin-bottom: 0;
  background-color: #fff;
}
.product-img {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
}
.product-img img {
  width: 100%;
}
.product-desc {
  position: relative;
  height: 100px;
  margin-left: 115px;
}
.product-desc h2 {
  height: 40px;
  line-height: 20px;
  color: #404040;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}
.deposit {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
.spec {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #b3b3b3;
}
.order-info-wrapper {
  margin: 10px 0;
  padding: 12px;
  background-color: #fff;
}
.order-info-wrapper h3 {
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}
.order-wrapper {
  margin-bottom: 90px;
}
.order-info-box ul {
  margin: 10px 0;
}
.order-info-box .model {
  float: left;
  min-width: 75px;
  height: 40px;
  margin: 5px 10px 5px 0;
  padding: 0 10px;
  line-height: 40px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  color: #4c4c4c;
  cursor: pointer;
  text-align: center;
}
.order-info-box .model.on {
  border-color: transparent !important;
  background-color: #fe5341;
  color: #fff;
}
.order-info-box .model.no {
  color: #ccc;
  border: 1px dotted #ccc;
}
.order-info-box .model.on.no {
  border-color: transparent;
  color: #fff;
}
.order-info-box .item-row {
  margin: 15px 0;
  overflow: hidden;
}
.order-info-box .item-title {
  float: left;
  width: 80px;
  line-height: 40px;
  color: #a3a3a3;
}
.order-info-box .item-input-warp {
  margin-left: 80px;
}
.order-info-box .item-input-warp input {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 14px;
  -webkit-appearance: none;
}
.order-info-box .item-input-warp select {
  float: left;
  width: 32%;
  height: 40px;
  margin-right: 1.99999%;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}
.order-info-box .item-input-warp select:last-child {
  margin-right: 0;
}
.order-info-box .item-input-warp span {
  font-size: 12px;
  color: #a3a3a3;
}
.tips-name {
  margin-top: 10px;
  color: #333;
  font-size: 14px;
  line-height: 25px;
}
.tips-content {
  color: #808080;
  font-size: 14px;
  line-height: 20px;
}
.price-row {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  margin: 18px 0;
  font-size: 14px;
}
.price-name {
  color: #333;
}
.price-line {
  position: relative;
  display: block;
  margin: 0 12px;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  vertical-align: middle;
}
.price-line:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 1px dashed #ccc;
}
.price-del {
  color: #a3a3a3;
  font-weight: 700;
  vertical-align: middle;
}
.price-price {
  color: #333;
  font-weight: 700;
  vertical-align: middle;
}
.price-price img {
  height: 25px;
  width: auto;
  vertical-align: middle;
}
.price-all {
  position: relative;
  padding: 0 12px;
  margin: 0 -12px;
  border-top: 1px solid #e6e6e6;
  text-align: right;
  line-height: 40px;
}
.price-all:before {
  content: '';
  position: absolute;
  bottom: 40px;
  right: 22px;
  width: 0;
  height: 0;
  border: 10px solid #e6e6e6;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
}
.price-all:after {
  content: '';
  position: absolute;
  bottom: 40px;
  right: 24px;
  width: 0;
  height: 0;
  border: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
}
.price-all-price {
  color: #fe5341;
  font-weight: 700;
}
.order-pay-type-title {
  padding: 10px 12px;
  color: #595959;
  font-size: 12px;
}
.order-pay-type-box {
  padding: 0 12px;
  background-color: #fff;
}
.order-pay-type-box label {
  position: relative;
  display: block;
  padding-left: 24px;
}
.order-pay-type-box label input {
  float: right;
  width: 28px;
  height: 26px;
  background-size: 18px auto;
}
.order-pay-type-box .weixin label {
  background: url("../images/icon-weixin-pay.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 25px;
}
.order-pay-type-box .zhifubao label {
  background: url("../images/icon-zhifubao-pay.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 25px;
}
.order-submit {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 46px;
  padding: 0 12px;
  line-height: 46px;
  background-color: #fff;
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}
.order-submit span {
  color: #808080;
  font-size: 12px;
}
.order-submit a {
  float: right;
  width: 84px;
  height: 32px;
  margin-top: 7px;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  background-color: #fe5341;
}
.order-submit .pay-info {
  display: inline-block;
  margin-top: 13px;
  line-height: 13px;
}
.order-submit .pay-price {
  display: block;
  color: #fe5341;
}
.order-submit .down-time {
  display: block;
  font-size: 12px;
  color: #808080;
}
.order-head-status {
  width: 100%;
  height: 70px;
}
.order-head-status div {
  text-align: center;
}
.order-head-status h3 {
  font-size: 16px;
  line-height: 25px;
}
.order-head-status p {
  font-size: 12px;
}
.order-head-status.red {
  background-color: #F66039;
  color: #fff;
}
.order-head-status.green {
  background-color: #EBF5F0;
  color: #01914A;
}
.order-head-status.gray {
  background-color: #E6E6E6;
  color: #333;
}
.order-head-status.block-gray {
  background-color: #959595;
  color: #fff;
}
.order-info-show {
  margin: 10px 0;
  padding: 12px;
  background-color: #fff;
}
.order-info-show h3 {
  text-align: center;
}
.order-info-show .info {
  padding: 10px 0;
}
.order-info-show p {
  line-height: 24px;
}
.order-info-show .item-row {
  margin: 5px 0;
  line-height: 24px;
  color: #a3a3a3;
}
.order-info-show .item-title {
  float: left;
  width: 80px;
}
.order-info-show .item-input-wrap {
  margin-left: 80px;
  color: #333;
}
.order-info-show .copy {
  position: absolute;
  top: 37px;
  right: 12px;
  padding: 5px 10px;
  border: 1px solid #999999;
  border-radius: 3px;
  text-align: center;
}
.call-tel {
  margin: 10px 0;
  background-color: #fafafa;
}
.call-tel a {
  display: block;
  width: 100%;
  height: 44px;
  border: 1px solid #e6e6e6;
  text-align: center;
  color: #333;
  font-size: 14px;
  line-height: 44px;
}
.call-tel a span {
  position: relative;
  margin-left: 20px;
}
.show-return {
  margin-top: 10px;
  padding: 10px 0;
  text-align: center;
  color: #4270a5;
  cursor: pointer;
}
.item-return {
  padding: 12px 20px;
  background-color: #f2f2f2;
}
.item-return-info {
  margin-top: 10px;
  color: #333;
  line-height: 22px;
}
.item-return-remark {
  margin-top: 10px;
  color: #e93838;
  line-height: 22px;
}
.add-address-box-wrap {
  display: block;
  position: relative;
}
.add-address-box-wrap .add-address-title {
  color: #333;
  font-weight: 600;
  font-size: 14px;
}
.add-address-box-wrap .add-address-desc {
  color: #666;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  padding-right: 45px;
}
.add-address-box-wrap .add-address-box-icon {
  position: relative;
}
.add-address-box-wrap .add-address-box-icon:after {
  position: absolute;
  display: block;
  content: '';
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotateZ(-90deg);
  transform: translateY(-50%) rotateZ(-90deg);
  bottom: 0px;
  width: 10px;
  height: 10px;
  background-size: 10px auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/coupons/icon-coupons-item-more.png);
}
.add-address-box-wrap .show-address-box {
  position: relative;
}
.add-address-box-wrap .show-address-box .add-address-change-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 15px;
}
.add-address-box-wrap .show-address-box .add-address-change-btn .image {
  display: block;
  height: 100%;
}
.add-address-box-wrap .add-address-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.add-address-box-wrap .add-address-box .add-address-image {
  width: 19px;
  height: 19px;
}
.add-address-box-wrap .add-address-box .add-address-image .image {
  width: 100%;
  height: 100%;
  display: block;
}
.add-address-box-wrap .add-address-box .add-address-text {
  margin-left: 10px;
}
.order-add-address-btn-wrap-tpl * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.coupon__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-image: url(../images/coupons/icon-coupons-order.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 16px auto;
  padding-left: 25px;
  padding-right: 20px;
  position: relative;
}
.coupon__select:after {
  position: absolute;
  content: '';
  display: block;
  right: 0;
  top: 50%;
  width: 16px;
  height: 10px;
  margin-top: -5px;
  background-image: url(../images/coupons/icon-coupons-item-more.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10px auto;
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}
.coupon-select .layui-m-layercont,
.coupon-select .layui-m-layercont > .coupon-select-wrap {
  height: 100% !important;
}
.address-wrap-btn {
  margin: 12px;
  background: #fe5341;
  color: #fff;
  text-align: center;
  line-height: 42px;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.coupon-select-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.coupon-select-wrap .coupon-select-header {
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.coupon-select-wrap .coupon-select-header .coupon-select-back,
.coupon-select-wrap .coupon-select-header .coupon-select-close {
  height: 52px;
  width: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.coupon-select-wrap .coupon-select-header .coupon-select-title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  line-height: 52px;
}
.coupon-select-wrap .coupon-select-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.coupon-select-wrap .coupon-select-body ul {
  margin-bottom: 56px;
}
.coupon-select-wrap .coupon-select-not-use {
  position: fixed;
  left: 12px;
  right: 12px;
  bottom: 20px;
  background: #FAFAFA;
  border: 1px solid #E6E6E6;
  height: 44px;
  line-height: 44px;
  text-align: center;
  margin: 0 12px;
  color: #333333;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.coupons__card-wrap {
  width: 9.46666667rem;
  height: 2.58666667rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0.26666667rem;
  /*coupons__card-status*/
}
.coupons__card-wrap .coupons__card-left {
  width: 3.01333333rem;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(http://cdn.jiguo.com/static/WeiXin/images/coupons/icon-coupons-left-bg1.png);
}
.coupons__card-wrap .coupons__card-money {
  font-size: 0.69333333rem;
  line-height: 0.8rem;
  overflow: hidden;
  width: 100%;
}
.coupons__card-wrap .coupons__card-money .unit {
  font-size: 0.42666667rem;
}
.coupons__card-wrap .coupons__card-type-desc {
  font-size: 0.37333333rem;
  max-width: 2.26666667rem;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  overflow: hidden;
}
.coupons__card-wrap .coupons__card-right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.32rem;
  color: #666666;
  line-height: 0.45333333rem;
  padding: 0.33333333rem 0.2rem;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(http://cdn.jiguo.com/static/WeiXin/images/coupons/icon-coupons-right-bg1.png);
}
.coupons__card-wrap .coupons__card-desc {
  max-height: 0.88rem;
  overflow: hidden;
}
.coupons__card-wrap .coupons__card-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.26666667rem;
  line-height: 0.45333333rem;
  font-size: 0.32rem;
  color: #fff;
  width: 0.74666667rem;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url(http://cdn.jiguo.com/static/WeiXin/images/coupons/icon-coupons-left-bg1.png);
  background-position: left top;
  /*transition: all .3s;*/
}
.coupons__card-wrap .coupons__card-status-block {
  width: 0.74666667rem;
}
.coupons__card-wrap.red .coupons__card-left,
.coupons__card-wrap.red .coupons__card-status {
  background-image: url(http://cdn.jiguo.com/static/WeiXin/images/coupons/icon-coupons-left-bg1.png);
}
.coupons__card-wrap.gary .coupons__card-left,
.coupons__card-wrap.gary .coupons__card-status {
  background-image: url(http://cdn.jiguo.com/static/WeiXin/images/coupons/icon-coupons-left-bg2.png);
}
.coupons__card-wrap.yellow .coupons__card-left,
.coupons__card-wrap.yellow .coupons__card-status {
  background-image: url(http://cdn.jiguo.com/static/WeiXin/images/coupons/icon-coupons-left-bg3.png);
}
.coupons__card-wrap.select .coupons__card-status {
  text-indent: -99999px;
  background-position: center center;
  background-size: 0.48rem auto;
  background-image: url(http://cdn.jiguo.com/static/WeiXin/images/coupons/icon-coupons-select.png);
}
.order-submit-tips {
  position: absolute;
  left: 0;
  top: -30px;
  line-height: 30px;
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  background: #fff;
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0 12px;
  color: #808080;
  vertical-align: middle;
}
.order-submit-tips img {
  height: 16px;
  vertical-align: middle;
}
