.pointer {
  cursor: pointer;
}
.share-bottom-wrap-box {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.share-bottom-wrap-box .share-bottom-mask {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  animation: share-bottom-mask 0.3s forwards;
}
.share-bottom-wrap-box .share-bottom-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  background: #F2F2F2;
  animation: share-bottom-wrap 0.3s forwards;
}
.share-bottom-wrap-box .share-bottom-wrap .share-bottom-box {
  background: #fff;
  margin-bottom: 10px;
}
.share-bottom-wrap-box .share-bottom-wrap .share-bottom-btn {
  background: #fff;
  height: 50px;
}
.share-bottom-wrap-box .share-bottom-wrap .button-share {
  background: #fff;
  font-size: 16px;
  font-weight: normal;
}
.share-bottom-wrap-box .share-bottom-wrap .button-share:after,
.share-bottom-wrap-box .share-bottom-wrap .button-share:before {
  display: none;
}
.share-bottom-wrap-box .share-bottom-item {
  height: 50px;
  position: relative;
}
.share-bottom-wrap-box .share-bottom-item:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: #CCCCCC;
  transform: scaleY(0.5);
}
@keyframes share-bottom-wrap {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes share-bottom-mask {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.3);
  }
}
.online-custom-service-wrap {
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  flex-direction: column;
}
.online-custom-service-wrap .online-content-top {
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}
.online-custom-service-wrap .online-content-top .online-content-top-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
.online-custom-service-wrap .online-content-top .message-wrap {
  width: 250px;
}
.online-custom-service-wrap .online-content-top .image {
  width: 100%;
  height: auto;
  display: block;
}
.online-custom-service-wrap .online-botton-fix {
  height: 182px;
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}
.online-custom-service-wrap .online-botton-fix .online-botton-content {
  flex: 1;
  color: #333;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.online-custom-service-wrap .online-botton-fix .online-botton-content .online-query-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 10px 0;
}
.online-custom-service-wrap .online-botton-fix .online-botton-content .online-query-item {
  text-align: center;
}
.online-custom-service-wrap .online-botton-fix .online-botton-content .online-query-item:not(:first-child) {
  margin-left: 50px;
}
.online-custom-service-wrap .online-botton-fix .online-botton-content .online-query-item .online-query-text {
  margin-top: 6px;
}
.online-custom-service-wrap .online-botton-fix .online-botton-content .online-query-icon-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.online-custom-service-wrap .online-botton-fix .online-botton-content .online-query-icon-box .image {
  width: 22px;
  height: auto;
  display: block;
}
.online-custom-service-wrap .online-botton-fix .online-botton-content .online-query-tips {
  display: flex;
  justify-content: center;
  align-items: center;
}
.online-custom-service-wrap .online-botton-fix .online-botton-content .online-query-tips .image {
  width: 13px;
  height: 13px;
}
.online-custom-service-wrap .online-botton-fix .online-botton-content .online-query-tips .text {
  margin-left: 8px;
  color: #999999;
  font-size: 12px;
}
.online-custom-service-wrap .online-botton-fix .online-cancel {
  flex-shrink: 0;
  flex-grow: 0;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 16px;
  border-top: 1px solid #EBEBEB;
}
.pay-success-header-wrap {
  background: #fff;
  padding: 30px 12px;
}
.pay-success-header-wrap .pay-success-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pay-success-header-wrap .pay-success-header .pay-success-header-left {
  width: 67px;
  height: 73px;
}
.pay-success-header-wrap .pay-success-header .image {
  width: 100%;
  height: 100%;
  display: block;
}
.pay-success-header-wrap .pay-success-header .pay-success-header-right {
  margin-left: 25px;
  color: #333;
  font-size: 12px;
  line-height: 23px;
}
.pay-success-header-wrap .pay-success-header-btn {
  font-size: 12px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  height: 28px;
  width: 80px;
  margin: auto;
  margin-top: 25px;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}
.event-list-wrap,
.event-list-wrap .first-no-data,
.event-list-wrap .no-data,
.event-list-wrap .loading-more,
.event-list-wrap li.large.event {
  background: #f2f3f8 !important;
}
.event-list-wrap li.large.event {
  padding-top: 0;
}
.event-list-wrap li.large.event:before {
  display: none;
}
.event-list-wrap li.large.event:last-child {
  padding-bottom: 0;
}
.event-list-wrap .event-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #333333;
  font-size: 12px;
  height: 45px;
}
.event-list-wrap .event-title .title {
  padding: 0 10px;
}
.event-list-wrap .event-title .hi {
  width: 27px;
  height: 4px;
}
.event-list-wrap .event-title .image {
  width: 100%;
  height: 100%;
  display: block;
}
