.p12 {
  padding: 0 12px;
}
body,
html {
  background-color: #f2f2f2;
  height: 100%;
}
.nav-title {
  text-align: center;
  font-size: 16px;
  color: #808080;
  line-height: 52px;
}
.nav-share {
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px 15px;
}
.topic-content {
  padding: 15px 0 0 0;
  background-color: #fff;
}
.topic-content .topic-zan {
  position: relative;
  color: #b3b3b3;
  font-size: 14px;
}
.topic-content .show-zan-all {
  display: inline-block;
  margin-right: 6px;
}
.topic-content .topic-zan-reply {
  display: inline-block;
  width: 35px;
}
.topic-content .topic-zan-line {
  position: absolute;
  top: 7px;
  left: 33px;
  display: inline-block;
  background-color: #b3b3b3;
  width: 1px;
  height: 10px;
}
.topic-content .topic-content-text-img {
  padding-bottom: 15px;
}
.topic-content .topic-content-reply {
  padding: 0;
  margin-bottom: 70px;
}
.topic-content .topic-content-allReply {
  color: #b3b3b3;
  font-size: 14px;
  padding: 16px 0;
}
.topic-content .topic-content-reply {
  background-color: #f2f2f2;
}
.topic-content .topic-content-reply li {
  padding: 0;
  margin-bottom: 10px;
  margin-left: 0;
}
.topic-content .topic-replyContent {
  border-bottom: 1px solid #e3e3e3;
  line-height: 20px;
  font-size: 14px;
  color: #808080;
  margin-left: 45px;
  padding: 4px 0 10px 0;
}
.topic-postComment-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.topic-postComment-box .topic-postComment {
  margin: 8px 12px;
  border: 1px solid #e5e5e5;
  border-radius: 90px;
  font-size: 14px;
  color: #808080;
  text-align: center;
  line-height: 34px;
}
#praise-list-box .pl12 {
  padding: 0;
  margin: 0 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e6e6e6;
}
