html,
body {
  background-color: #f2f2f2 !important;
}
.display {
  display: none;
}
.c80 {
  color: #808080;
}
.cb3 {
  color: #b3b3b3;
}
.c5b {
  color: #dd3932;
}
.icon-msg:before {
  background-position: -90px -180px;
}
.icon-like::before {
  background-position: -90px -150px;
}
.icon-more:before {
  background-position: -179px -204px;
}
.vip-main {
  background-color: #fff;
  margin-bottom: 10px;
}
.vip-main .vip-title {
  padding: 16px 0 0 12px;
  font-size: 18px;
  color: #b3b3b3;
}
.vip-main .mian-stream li {
  padding: 12px 0;
  margin: 0 12px;
}
.vip-main .look-more,
.vip-main .enroll {
  text-align: center;
  line-height: 43px;
}
.vip-main .look-more a,
.vip-main .enroll a {
  position: relative;
}
.vip-main .look-more a i,
.vip-main .enroll a i {
  position: absolute;
  top: -4px;
}
.vip-main .vip {
  margin: 12px 12px 0 12px;
  border-bottom: 1px solid #ebebeb;
}
.vip-main .vip li {
  width: 33.33333%;
  text-align: center;
  margin-bottom: 13px;
}
.vip-main .vip li img {
  width: 80%;
  border-radius: 50%;
  max-width: 93px;
}
.vip-main .vip li .name {
  color: #006d94;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
}
.vip-main .vip li .replay {
  display: inline-block;
}
.vip-main .vip li .replay span {
  display: inline-block;
  height: 18px;
  line-height: 18px;
}
.vip-main .vip li .replay i {
  position: absolute;
  left: -15px;
  width: 18px;
  height: 18px;
}
.vip-main .vip li .replay .icon-like {
  left: -20px;
}
.vip-main .report {
  padding: 12px;
}
.vip-main .report li {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 12px;
}
.vip-main .report li .report-name {
  line-height: 40px;
}
.vip-main .report li .report-img {
  width: 100%;
}
.vip-main .report li .report-img img {
  width: 100%;
  border-radius: 6px;
}
.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.mask #goPc {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -43%;
  margin-top: -175px;
  width: 86%;
  background-color: #fff;
  padding-top: 30px;
  border-radius: 6px;
}
.mask #goPc .top {
  padding: 0 15px 24px 15px;
}
.mask #goPc .top img {
  display: block;
  width: 32px;
  margin: 0 auto;
}
.mask #goPc .top p {
  text-align: center;
  font-size: 14px;
  margin: 12px 0 25px 0;
  color: #808080;
}
.mask #goPc .top .box {
  position: relative;
  height: 150px;
  padding-top: 23px;
  border: 1px solid #d2d2d2;
  text-align: center;
  color: #808080;
  font-size: 14px;
  line-height: 1.3;
  border-radius: 5px;
}
.mask #goPc .top .box .title {
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -20%;
  width: 40%;
  color: #595959;
  background-color: #fff;
}
.mask #goPc .kown {
  background-color: #f3f3f3;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #424242;
  font-size: 14px;
  text-align: center;
  border-radius: 0 0 6px 6px;
}
