.common-cell-title h3 {
  font-size: 22px;
  font-weight: bold;
  color: #2d2d2d;
}
.join-vip {
  background-color: #fff;
}
.join-vip .content-wrap {
  margin-top: 15px;
  padding: 40px 0 32px 50px;
  background-color: #F8F8F8;
}
.join-vip .content-wrap dl {
  height: 161px;
  border-right: 1px dashed rgba(251, 89, 77, 0.4);
  float: left;
}
.join-vip .content-wrap dl dt {
  font-size: 24px;
  color: #FB594D;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 30px;
  margin-top: -5px;
}
.join-vip .content-wrap dl dt img {
  height: 28px;
  margin-right: 12px;
  vertical-align: top;
}
.join-vip .content-wrap dl dd {
  color: #999999;
  font-size: 14px;
  line-height: 20px;
}
.join-vip .content-wrap dl dd li:not(.vip-item)::before {
  content: '·';
  margin-right: 5px;
  display: inline-block;
  width: 5px;
  line-height: 20px;
}
.join-vip .content-wrap dl dd p {
  margin-top: 20px;
  padding-left: 10px;
}
.join-vip .content-wrap dl dd .apply-btn {
  display: block;
  width: 95px;
  height: 28px;
  margin: 14px 0 0 40px;
  color: #FB594D;
  border: 1px solid #FB594D;
  border-radius: 2px;
  text-align: center;
  line-height: 28px;
}
.join-vip .content-wrap dl:first-of-type {
  width: 196px;
  margin-right: 45px;
}
.join-vip .content-wrap dl:nth-of-type(2) {
  width: 265px;
  margin-right: 36px;
}
.join-vip .content-wrap dl:nth-of-type(3) {
  width: 210px;
  margin-right: 41px;
}
.join-vip .content-wrap dl:nth-of-type(3) dt {
  line-height: 33px;
}
.join-vip .content-wrap dl:nth-of-type(3) dt img {
  height: 31px;
}
.join-vip .content-wrap dl:last-of-type {
  width: 208px;
  border-right: none;
}
.join-vip .content-wrap dl:last-of-type dt {
  line-height: 33px;
}
.join-vip .content-wrap dl:last-of-type dt img {
  height: 33px;
}
.join-vip .content-wrap .vip-list {
  position: relative;
  height: 102px;
  overflow: hidden;
}
.join-vip .content-wrap .vip-list .vip-item {
  font-size: 12px;
  padding-bottom: 5px;
  margin-top: 5px;
  border-bottom: 1px solid #ededed;
}
.join-vip .content-wrap .vip-list .vip-item .item-avatar {
  float: left;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  overflow: hidden;
}
.join-vip .content-wrap .vip-list .vip-item .item-avatar img {
  width: 100%;
}
.join-vip .content-wrap .vip-list .vip-item .item-content {
  margin-left: 33px;
  width: 175px;
}
.join-vip .content-wrap .vip-list .vip-item .item-content p {
  padding-left: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 20px;
  color: #999;
}
.join-vip .content-wrap .vip-list .vip-item:last-of-type {
  border-bottom: none;
}
.join-vip .content-wrap .vip-list:after {
  content: '';
  display: block;
  width: 100%;
  height: 26px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(top, rgba(248, 248, 248, 0), #f8f8f8);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=transprent, endcolorstr=#f8f8f8, gradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=transprent, endcolorstr=#f8f8f8, gradientType=0);
  background: #f8f8f8;
  /* 一些不支持背景渐变的浏览器 */
  background: -moz-linear-gradient(top, rgba(247, 247, 247, 0), #f8f8f8);
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(248, 248, 248, 0)), to(#f8f8f8));
}
.hot-event-warp .common-cell-title > a,
.hot-event-warp .common-cell-title > a {
  padding: 0 9px;
}
.event-class-header {
  text-align: center;
  margin: 20px auto;
}
.event-class-header ul {
  display: inline-block;
  margin: auto;
  background: #ebebeb;
  padding: 2px;
  border-radius: 18px;
}
.event-class-header li {
  width: 90px;
  line-height: 30px;
  display: inline-block;
}
.event-class-header li.on {
  border-radius: 15px;
  background: #fff;
}
.event-class-header li.on a {
  color: #333333;
}
.event-class-header li a {
  display: block;
  font-size: 12px;
  color: #aeaeae;
}
.article-list .culling-wrap .choice-event-content .respond li {
  height: 358px !important;
}
.article-list .culling-wrap .choice-event-content .respond li .choice-img-box {
  height: 215px;
}
.article-list .culling-wrap .choice-event-content .respond li .choice-img-box + .desc-box {
  bottom: 33px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.article-list .culling-wrap .choice-event-content .respond li .product-wrap {
  width: 314px;
  height: 33px;
  line-height: 33px;
  padding: 0 15px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
}
.article-list .culling-wrap .choice-event-content .respond li .product-wrap .product-name {
  width: 227px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article-list .culling-wrap .choice-event-content .respond li .product-wrap .icon-right {
  display: inline-block;
  width: 6px;
  height: 12px;
  background: url("../images/article_list/icon-right.png") no-repeat center center;
  background-size: 100% auto;
  margin-left: 5px;
  position: relative;
  top: 1px;
}
.article-list .culling-wrap .choice-event-content .respond li .product-wrap:hover .product-name {
  color: #4c4c4c;
}
.article-list .culling-wrap .choice-event-content .respond li .product-wrap:hover .article-num {
  color: #FB594D;
}
.product-box {
  height: 60px;
  line-height: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 61px;
  left: 0;
  right: 0;
  z-index: 5;
}
.product-box h3 {
  font-size: 22px;
  max-width: 700px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-box .buy-btn {
  width: 74px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background-color: #FB594D;
  color: #fff;
  border-radius: 2px;
}
.article-list-wrap {
  margin-top: 75px;
}
