.main-wrap {
  min-width: 1080px;
}
.first-page {
  width: 100%;
  height: 500px;
  background: url("../images/youpin/yp-bg.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 0.1px;
}
.first-page .logo-img {
  width: 322px;
  height: 85px;
  margin: 90px auto 0;
}
.first-page .logo-img img {
  width: 100%;
  height: 100%;
}
.first-page .logo-text {
  margin: 129px auto 30px;
  width: 402px;
  line-height: 32px;
  font-size: 22px;
  text-align: center;
  color: #fff;
}
.first-page .youzan-logo {
  width: 250px;
  height: 44px;
  margin: 0 auto;
  line-height: 44px;
  border-radius: 50px;
  background-color: #fff;
  color: #000;
  text-align: center;
}
.first-page .youzan-logo img {
  width: 20px;
  height: 20px;
}
.common-page {
  height: 800px;
  background-color: #fff;
  padding-top: 0.1px;
}
.common-page.third-page {
  background-color: #F6F6F6;
}
.common-page .Recruit-wrap {
  margin: 82px auto 0;
  width: 300px;
  text-align: center;
}
.common-page .Recruit-wrap .img {
  width: 40px;
  height: 42px;
  margin: 0 auto;
}
.common-page .Recruit-wrap .img img {
  width: 100%;
  height: 100%;
}
.common-page .Recruit-wrap .title {
  font-size: 48px;
  color: #000;
}
.common-page .Recruit-wrap .en-title {
  width: 227px;
  height: 18px;
  background-color: #BEBEBE;
  border-radius: 40px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin: 0 auto;
}
.common-page .Recruit-wrap .desc {
  margin-top: 14px;
  font-size: 18px;
  color: #666666;
}
.common-page .Recruit-wrap .apply-btn {
  width: 190px;
  height: 50px;
  line-height: 50px;
  margin: 30px auto 0;
  font-size: 18px;
  color: #fff;
  background-color: #F96A4C;
  box-shadow: 0 2px 4px 0 #F66039;
  cursor: pointer;
}
.common-page .special-wrap {
  width: 1080px;
  margin: 127px auto 0;
}
.common-page .special-wrap ul li {
  float: left;
}
.common-page .special-wrap ul li:last-of-type .content {
  border-right: none;
}
.common-page .special-wrap .content {
  text-align: center;
  width: 269px;
  padding-top: 10px;
  border-right: 1px solid #F0F0F0;
}
.common-page .special-wrap .content img {
  height: 70px;
}
.common-page .special-wrap .content .title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 35px;
  color: #000;
}
.common-page .special-wrap .content .desc {
  margin-top: 22px;
  color: #808080;
  line-height: 20px;
  min-height: 60px;
}
.common-page .special-wrap .line {
  width: 20px;
  height: 2px;
  background-color: #F66039;
  margin: 50px auto 0;
}
.four-page {
  height: auto;
  padding-bottom: 48px;
}
.four-page .list {
  width: 1080px;
  margin: 50px auto 0;
}
.four-page .list ul {
  width: 105%;
}
.four-page .list li {
  width: 537px;
  height: 269px;
  margin: 6px 6px 0 0;
  border-radius: 4px;
  overflow: hidden;
  float: left;
  position: relative;
}
.four-page .list li img {
  width: 100%;
}
.four-page .list li .shadow {
  width: 100%;
  height: 269px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #fff;
}
.four-page .list li .shadow .title {
  margin-top: 192px;
  font-size: 24px;
  line-height: 33px;
}
.four-page .list li .shadow p {
  margin-top: 10px;
}
.yp-footer {
  padding: 45px 0 38px;
  background-color: #F3F3F3;
  text-align: center;
}
.yp-footer .yp-logo {
  font-size: 20px;
  color: #1B1B1B;
}
.yp-footer .yp-erweima {
  margin-top: 10px;
  margin-bottom: 10px;
}
.yp-footer .yp-erweima img {
  width: 120px;
}
.yp-footer p {
  line-height: 25px;
  color: #1B1B1B;
  font-size: 18px;
}
.yp-footer p a {
  color: #1B1B1B;
}
.apply-box {
  background-color: #FCF9F2;
  padding-bottom: 49px;
}
.apply-box .apply-title {
  padding: 15px 0;
  position: relative;
  color: #6C4607;
  text-align: center;
  background-color: #fff;
}
.apply-box .apply-title-small {
  line-height: 22px;
  font-size: 16px;
}
.apply-box .apply-title-content {
  line-height: 25px;
  font-size: 18px;
  font-weight: bold;
}
.apply-box .apply-close {
  width: 16px;
  height: 17px;
  background: url("../images/youpin/close.png") no-repeat center center;
  background-size: 16px auto;
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -8.5px;
  cursor: pointer;
}
.apply-box .form-wrap {
  margin-top: 36px;
  color: #6C4607;
  font-size: 14px;
}
.apply-box .row {
  margin-bottom: 10px;
  padding-left: 40px;
}
.apply-box .row:last-of-type {
  margin-bottom: 0;
}
.apply-box .row span {
  display: inline-block;
  width: 70px;
  vertical-align: middle;
  font-weight: bold;
}
.apply-box .row .need:before {
  content: '* ';
  color: #F66039;
  margin-left: -10px;
}
.apply-box .row .input {
  width: 447px;
  height: 40px;
  padding: 0 10px;
  outline: none;
  border-radius: 2px;
  color: #6C4607;
  background-color: #E7DFCC;
  margin-left: 15px;
  font-size: 14px;
}
.apply-box .row .txt {
  width: 447px;
  height: 100px;
  line-height: 20px;
  font-size: 14px;
  padding: 10px;
  outline: none;
  border-radius: 2px;
  color: #6C4607;
  background-color: #E7DFCC;
  margin-left: 15px;
  border: none;
  vertical-align: top;
}
.apply-box .row label {
  margin-left: 15px;
  cursor: pointer;
}
.apply-box .row .radio {
  position: relative;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  outline: 0!important;
  margin-right: 5px;
  display: inline-block;
  font-family: Muiicons;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  vertical-align: middle;
}
.apply-box .row .radio:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #E7DFCC;
  border-radius: 2px;
  cursor: pointer;
}
.apply-box .row .radio:checked:before {
  background: #e7dfcc url("../images/youpin/checked.png") no-repeat center center;
  background-size: 13px 12px;
}
.apply-box .sub {
  display: inline-block;
  width: 194px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 14px;
  margin-left: 15px;
  color: #fff;
  border-radius: 2px;
  background-color: #E7DFCC;
  cursor: pointer;
}
.apply-box .sub.on {
  background-color: #F66039;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
